<div class="well" ng-controller="SysAlipayTestCtl">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form" name="form">
						<div class="form-group">
							<label class="col-md-2 control-label"> 支付方式： </label>
							<div class="col-sm-10">
								<p class="form-control-static">支付宝条码支付测试</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 支付网关： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder="wechat-微信/alipay-支付宝/bill-银联/prepay-预存款"  value="alipay"
									ng-model="bardata.url" ng-init="bardata.url='http://t.o2o520.com/pay/alipay/create'" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 支付渠道： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""  value="alipay"
									ng-model="bardata.pay_channel" ng-init="bardata.pay_channel='alipay'" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 价格： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder="0.01"
									ng-model="bardata.total_fee" ng-init="bardata.total_fee='0.01'" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 付款码： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""
									ng-model="bardata.dynamic_id" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 商户号： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""
									ng-model="bardata.merchant_num" ng-init="bardata.merchant_num='201509020001'" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 终端编号： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""
									ng-model="bardata.terminal_unique_no" ng-init="bardata.terminal_unique_no='1'" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 客户端类型： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""
									ng-model="bardata.client_type" ng-init="bardata.client_type='PC'" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 商户订单号： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""
									ng-model="bardata.user_order_no" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 订单标题： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""
									ng-model="bardata.subject" ng-init="bardata.subject='支付宝扫码支付测试'" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 核销码： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""
									ng-model="bardata.cashier_num" ng-init="bardata.cashier_num='1'" >
							</div>
						</div>
						<button ng-click="alipayBarTest(bardata)">测试</button>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
