<div class="well" ng-controller="SysAlipayEditCtl" ng-init="alipayInit()">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form" name="form">
						<div class="form-group">
							<label class="col-md-2 control-label"> 支付方式wap支付： </label>
							<div class="col-sm-10">
								<p class="form-control-static">支付宝</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 支付宝商户号： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""
									ng-model="pay.pid">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 商户秘钥：</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="3" placeholder=""
									ng-model="pay.merchantPrivateKey"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 支付宝公钥：</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="3" placeholder=""
									ng-model="pay.alipayPublicKey"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> 商户同步跳转地址： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""
									ng-model="pay.merchanSynNotify">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label"> 商户异步回调地址： </label>
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder=""
									ng-model="pay.merchanAsynNotify">
							</div>
						</div>

						<button ng-disabled="form.$invalid" ng-click="alipaySave(pay)">保存</button>
						<button><a ui-sref="app.table.pay">返回</a></button>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
