spring:
  # default datasource
  datasource-primary:
    url: "jdbc:mysql://127.0.0.1:3306/yunpos_zhengshi?useUnicode=true&characterEncoding=utf8"
    driverClassName: com.mysql.jdbc.Driver
    username: root
    password: 123456
    min-idle: 1
    max-idle: 1
    max-active: 2
    initial-size: 1
    validation-query: "SELECT 1"
    test-on-borrow: true
  # secondary datasource 
  datasource-secondary:
    url: "jdbc:h2:mem:secondary_db"
    driverClassName: org.h2.Driver
    username: sa
    password: ""
    min-idle: 1
    max-idle: 1
    max-active: 2
    initial-size: 1
    validation-query: "SELECT 1"
    test-on-borrow: true
