    <div class="container data-authority" ng-controller="dataAuthorityCtlr">
        <div class="row">
            <div id="left-column" class="col-md-2 panel panel-default left-column">

                <div class="panel-title">资源 <a ng-click="addResource()" class="glyphicon glyphicon-plus" style="float:right;" aria-hidden="true"></a></div>
                <div class="panel-body">
                    <div class="list-group">
                        <li class="list-group-item" ng-repeat="r in resources">
                            <a ng-click="editRule(r)">{{r.name}}</a>
                            <div style="float:right">
                                <a ng-click="editResource(r)" class="glyphicon glyphicon-pencil" style="margin-left:4px" aria-hidden="true"></a>
                                <a ng-click="deleteResource(r)" class="glyphicon glyphicon-trash" style="margin-left:4px" aria-hidden="true"></a>
                            </div>
                        </li>

                    </div>
                </div>
            </div>

            <section id="right-column" class="col-md-10 panel panel-default right-column">
                <div ng-if="action=='EDIT_RESOURCE';">
                    <div class="panel-title">编辑数据资源</div>
                    <div class="panel-body">
                        <div class="panel-group">
                            <resource></resource>
                        </div>
                    </div>
                </div>
                <div ng-if="action=='EDIT_RULE';">
                    <div class="panel-title">数据权限规则</div>
                    <div class="panel-body">
                        <div class="panel-group">
                            <rule></rule>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
