<div class="bg-light lter b-b wrapper-md">
	<h4 class="m-n font-thin h4">会员充值</h4>
</div>
<div class="wrapper-md" ng-controller="memberPay_shopCtrl">
	<div class="form-group">
		<label class="col-md-3 control-label">
			充值金额：
		</label>
		<div class="col-md-7">
			<input type="text" class="form-control" placeholder="" ng-model="memberpay.score">
		</div>
    </div>
    <br/>
    <br/>
    <div class="form-group">
		<label class="col-md-3 control-label">
			充值密码：
		</label>
		<div class="col-md-7">
			<input type="text" class="form-control" placeholder="" ng-model="memberpay.password">
		</div>
    </div>
    <br/>
    <br/>
	<div class="form-group">
		<label class="col-md-3 control-label">	
		</label>
		<div class="col-md-3">
			<button ng-click="payByShop(memberpay)">立即充值</button>
		</div>
		<div class="col-md-3" >
			<button ng-click="cancel()">取消</button>
		</div>
	</div>
	<br/>
</div>