<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">分润设置</h1>
</div>
<div class="wrapper-md" ng-controller="SysShareSettingCtl">
  <div class="panel panel-default">
	  <div class="panel-heading">
		  <div class="row">
		    <div class="col-xs-3" style ="float: right;">
		   	 	<input ng-model='filterText'/><button ng-click='search()'>查询</button>
			</div>
		</div>
    </div>
    <div class="table-responsive">
      <div style="float:left;">
		     <label >交易渠道：</label>
		     <select id="select_source" ng-model="selcet_source"  name="order_state"> 
				<option value = "">  请选择 </option> 
				<option value="支付宝线下">支付宝线下</option> 
				<option value="支付宝线上">支付宝线上</option> 	
				<option value="微信线下">微信线下</option> 
				<option value="微信线上">微信线上</option> 		
			</select> 
			<label>返佣:</label>
			<label style="padding:0 0 0 80px;">分润比例：<input type="text" class="form_min" placeholder="" ng-model='shareSetting.'/></label>
			<label class="filter-column">直接代理商：<input type="text" class="form_min" ng-model='shareSetting.'/></label>
			<label>第二层代理商：<input type="text" class="form_min" ng-model='shareSetting.'/></label>
			<label class="filter-column">第三层代理商：<input type="text" class="form_min" ng-model='shareSetting.'/></label>
			</div>
      <div ng-grid="gridOptions" style="min-height:420px"></div>
    </div>
  </div>
</div>


<!--  <div class="wrapper-md">
 <div class="panel panel-default">
    <div class="panel-heading font-bold">                  
      Inline form
    </div>
    <div class="panel-body">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="checkbox m-l m-r-xs">
          <label class="i-checks">
            <input type="checkbox"><i></i> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
        <span ng-controller="ModalDemoCtrl">
          <script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/modal.form.html'"></div>
          </script>
          <button class="btn btn-success" ng-click="open('lg')">Form in a modal</button>
        </span>
      </form>
    </div>
  </div>

 </div>
</div>
-->