
<div class="well" ng-controller="MerchantAddCtrl" ng-init="processForm()">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" name="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                               	原支付密码：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" placeholder="请输入原支付密码，首次设置不需要输入" ng-model="merchant.userName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                               	 新支付密码：
                            </label>
                            <div class="col-md-10">
                            	<input type="password" class="form-control" placeholder="请设置新支付密码" ng-model="merchant.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                	确认密码：
                            </label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" placeholder="请再次输入新支付密码" ng-model="merchant.password">
                            </div>
                        </div>
                      <button  ng-disabled="form.$invalid" ng-click="add(merchant)">保存</button>
                     </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
