<div class="wrapper-md">
	<div class="panel panel-default">
		<div class="panel-heading font-bold">查看订单</div>
		<div class="panel-body">

			<div class="form-group">
				<label> 商品名称： </label>{{transaction.title}}
			</div>
			<div class="form-group">
					<label>支付渠道：</label>  <span ng-if="transaction.channel==1">微信</span>
											<span ng-show="transaction.channel==0">支付宝</span>
											<span ng-if="transaction.channel==2">银联</span>
											<span ng-show="transaction.channel==3">预付款</span>
				</div>
				 <div class="form-group">
					<label>商户名：</label> {{transaction.merchantName}}
				</div> 
				<!-- <div class="form-group">
					<label>头像：</label> {{fans.phone}}
				</div> --> 
				<div class="form-group">
					<label>商户编号：</label> {{transaction.serialNo}}
				</div> 
				<div class="form-group">
					<label>终端号：</label> {{transaction.terminalNum}} 
				</div> 
				<div class="form-group">
					<label>支付账号：</label>{{transaction.transCardNum}}
			 	<div class="form-group">
					<label>交易流水号：</label> {{transaction.transNum}}
				</div>  
				 	<div class="form-group">
					<label>交易时间：</label> {{transaction.transTime}}
				</div>
				<div class="form-group">
					<label>交易金额：</label> {{transaction.transPrice}}
				</div> 
				 	<div class="form-group">
					<label>扫描类型：</label> {{transaction.scanType}}
				</div>
				<div class="form-group">
					<label>卡券核销码：</label> {{transaction.couponCode}}
				</div> 
				 	<div class="form-group">
					<label>交易类型：</label> {{transaction.transType}}
				</div>
				<div class="form-group">
					<label>备注：</label> {{transaction.info}}
				</div> 
			
		</div>
	</div>
</div>