
<div class="well" ng-controller="MerchantStoreDetailCtrl" ng-init="processForm()">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal form-validation" role="form" name="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                               	用户名：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.userName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                              	 昵称：
                            </label>
                            <div class="col-md-10">
                           		 <input type="text" class="form-control" ng-model="store.nickname">
                            </div>
                        </div>
						<div class="form-group has-feedback">
							<label class="col-md-2 control-label"> 登录密码： </label>
							<div class="col-md-10">
							 <input type="password" class="form-control" name="password" ng-model="password" required > 
							</div> 	
						</div>
						<div class="form-group has-feedback">
							<label class="col-md-2 control-label"> 确认密码： </label>
							<div class="col-md-10">
							<input type="password" class="form-control" name="confirm_password" required ng-model="store.newPassword" ui-validate=" '$value==password' " ui-validate-watch=" 'password' ">
							<span ng-show='form.confirm_password.$error.validator' style="color: #ff4a0d">两次输入密码不一致！</span>
							</div>
						</div>
						<div class="form-group">
                            <label class="col-md-2 control-label">
                                	状态：
                            </label>
                            <div class="col-md-10">
                                 <div class="radio">
					              <label>
					                <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" ng-model="store.status">
					                启用
					              </label>
					              <label>
					                <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" ng-model="store.status">
					                停用
					              </label>
					            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                	审核状态：
                            </label>
                            <div class="col-md-10">
					              <label  ng-if="store.apprStatus==1" class="control-label">
					                审核中
					              </label>
					              <label  ng-if="store.apprStatus==2" class="control-label">
					                审核通过
					              </label>
					              <label  ng-if="store.apprStatus==3" class="control-label">
					                驳回
					              </label>
					              <label  ng-if="store.apprStatus==4" class="control-label">
					                回退
					              </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                	审核意见：
                            </label>
                            <div class="col-md-10">
                            	<label class="form-control">{{store.apprRemark}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                	门店名：
                            </label>
                            <div class="col-md-10">
                           		 <input type="text" class="form-control" ng-model="store.storeName">
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="col-md-2 control-label">
                                	门店地址：
                            </label>
                            <div class="col-md-10">
                           		 <input type="text" class="form-control" ng-model="store.address">
                            </div>
                        </div><div class="form-group">
                            <label class="col-md-2 control-label">
                                	联系人：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.contactMan">
                            </div>
                        </div><div class="form-group">
                            <label class="col-md-2 control-label">
                                	联系电话：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.tel">
                            </div>
                        </div><div class="form-group">
                            <label class="col-md-2 control-label">
                                	手机号码：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                	电子邮箱：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.mail">
                            </div>
                        </div><div class="form-group">
                            <label class="col-md-2 control-label">
                                	备注：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.remark">
                            </div>
                        </div>
                      <button  ng-click="save(store)">保存</button>
                      <button  ng-click="cancel()">取消</button>
                     </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
