
<div class="well" ng-controller="MerchantStoreAddCtrl" ng-init="processForm()">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" name="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                               	用户名：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.userName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                              	 昵称：
                            </label>
                            <div class="col-md-10">
                           		 <input type="text" class="form-control" ng-model="store.nickname">
                            </div>
                        </div>
						<div class="form-group has-feedback"
							ng-class="{'has-success':form.password.$valid,'has-error':form.password.$invalid}">
							<label  class="col-md-2 control-label">
							 登录密码：
							</label>
							<div class="col-md-10">
								<input ng-model="password" name="password" type="password"
									class="form-control" id="password" required=""  placeholder="请输入密码"
									ng-pattern="/^[\S]{6,}$/"> <span
									class="glyphicon  form-control-feedback glyphi"
									ng-class="{'glyphicon-ok':form.password.$valid,'glyphicon-remove':form.password.$invalid}"></span>
							</div>
							<div class="col-md-12 has-error text-right"
								ng-show="form.password.$invalid&&form.password.$dirty">
								<span style="color: #ff4a0d">密码至少六位</span>
							</div>
						</div>
						<div class="form-group has-feedback"
							ng-class="{'has-success':form.confirmPassword.$valid,'has-error':form.confirmPassword.$invalid}">
							<label  class="col-md-2 control-label">
							 确认密码：
							</label>
							<div class="col-md-10">
								<input ng-model="confirmPassword" name="confirmPassword" type="password"
									class="form-control" id="confirmPassword" required=""  placeholder="请再次输入密码"
									ng-pattern="/^[\S]{6,}$/"> <span
									class="glyphicon  form-control-feedback glyphi"
									ng-class="{'glyphicon-ok':form.confirmPassword.$valid,'glyphicon-remove':form.confirmPassword.$invalid}"></span>
							</div>
							<div class="col-md-12 has-error text-right"
								ng-show="form.confirmPassword.$invalid&&form.confirmPassword.$dirty">
								<span style="color: #ff4a0d">密码至少六位</span>
							</div>
						</div>
						<div class="form-group">
                            <label class="col-md-2 control-label">
                                	状态：
                            </label>
                            <div class="col-md-10">
                                 <div class="radio">
					              <label>
					                <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" ng-model="store.status">
					                启用
					              </label>
					              <label>
					                <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" ng-model="store.status">
					                停用
					              </label>
					            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                	审核：
                            </label>
                            <div class="col-md-10">
					              <label  ng-if="store.apprStatus==1" class="control-label">
					                审核中
					              </label>
					              <label  ng-if="store.apprStatus==2" class="control-label">
					                审核通过
					              </label>
					              <label  ng-if="store.apprStatus==3" class="control-label">
					                驳回
					              </label>
					              <label  ng-if="store.apprStatus==4" class="control-label">
					                回退
					              </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                	审核意见：
                            </label>
                            <div class="col-md-10">
                            	<label class="form-control">{{store.apprRemark}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                	门店名：
                            </label>
                            <div class="col-md-10">
                           		 <input type="text" class="form-control" ng-model="store.storeName">
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="col-md-2 control-label">
                                	门店地址：
                            </label>
                            <div class="col-md-10">
                           		 <input type="text" class="form-control" ng-model="store.address">
                            </div>
                        </div><div class="form-group">
                            <label class="col-md-2 control-label">
                                	联系人：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.contactMan">
                            </div>
                        </div><div class="form-group">
                            <label class="col-md-2 control-label">
                                	联系电话：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.tel">
                            </div>
                        </div><div class="form-group">
                            <label class="col-md-2 control-label">
                                	手机号码：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                	电子邮箱：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.mail">
                            </div>
                        </div><div class="form-group">
                            <label class="col-md-2 control-label">
                                	备注：
                            </label>
                            <div class="col-md-10">
                            	<input type="text" class="form-control" ng-model="store.remark">
                            </div>
                        </div>
                      <button  ng-click="save(store)">保存</button>
                      <button  ng-click="cancel()">取消</button>
                     </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
