<div class="well" ng-controller="MerchantInfoCtrl" ng-init="processForm();getAddress()">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" name="form">         
                       <div class="form-group">
                            <label class="col-md-3 control-label">
                                	审核状态：
                            </label>
                              <div class="col-md-9">
                                 <div class="radio">
					              <label>
					                <input type="radio" value="0" ng-model="merchant.auditStatus"  disabled="value">
					               未审核
					              </label>
					              <label>
					                <input type="radio" value="1" ng-model="merchant.auditStatus"  disabled="value">
					                审核中
					              </label>
					              <label>
					                <input type="radio"  value="2" ng-model="merchant.auditStatus"  disabled="value">
					               审核通过
					              </label>
					               <label>
					                <input type="radio"  value="3" ng-model="merchant.auditStatus"  disabled="value">
					               驳回
					              </label>
					              <label>
					                <input type="radio" value="4" ng-model="merchant.auditStatus"  disabled="value">
					               回退
					              </label>
					            </div>
                            </div>			                
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	审核意见：
                            </label>
                            <div class="col-md-9">
                            <textarea rows="3" ng-model="merchant.auditMemo" style="width:65%" disabled="value"></textarea>
                            </div>
					                 
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                           			 行业类型：
                            </label>
                            <div class="col-md-9">
                            	 <select name="account" class="form-control m-b" ng-model="merchant.industryTypeId">
						              <option value ='1' >餐饮</option>
						              <option value ='2' >KTV</option>
						              <option value ='3' >美容美发</option>
						              <option value ='4' >酒店</option>
						            </select>
                            </div>
                        </div>
                  		<div class="form-group">
				          <label class="col-sm-3 control-label">合同到期时间:</label>
				          <div class="col-sm-9" ng-controller="DatepickerDemoCtrl">
				            <div class="input-group w-md">
				              <input type="text" class="form-control" datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="merchant.endTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </div>
				          </div>
				        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                              	 商家简称：
                            </label>
                            <div class="col-md-9">
                           		 <input type="text" class="form-control" placeholder="" ng-model="merchant.merchantName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	商户类型：
                            </label>
                            <div class="col-md-9">
                                 <div class="radio">
					              <label>
					                <input type="radio"  value="0" ng-model="merchant.merchantType">
					               个体
					              </label>
					              <label>
					                <input type="radio" value="1" ng-model="merchant.merchantType">
					                企业
					              </label>
					            </div>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                              	 凭条打印名称：
                            </label>
                            <div class="col-md-9">
                           		 <input type="text" class="form-control" placeholder="" ng-model="merchant.printName">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	联系人：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.contactMan">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	手机号码：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.tel">
                            </div>
                        </div>
                          <div class="form-group">
                            <label class="col-md-3 control-label">
                                	联系电话：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.phone">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	电子邮箱：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	客服电话：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.serviceTel">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	公司网站：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.webSite">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	申请收单业务：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.applyForBusiness">
                            </div>
                        </div>                        
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	经营场所面积：
                            </label>
                            <div class="col-md-4">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.totalArea">
                            </div>
                            <div class="col-md-5">
                            	<label>平方米</label>
                            </div>
                        </div>
                           <div class="form-group">
                            <label class="col-md-3 control-label">
                                	员工人数：
                            </label>
                            <div class="col-md-4">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.totalEmployees">
                            </div>
                             <div class="col-md-5">
                            	<label>人</label>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	预计年收入：
                            </label>
                            <div class="col-md-4">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.totalIncomes">
                            </div>
                            <div class="col-md-5">
                            	<label>万元</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	实际经营地照片：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.operatePhoto">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	商户营业执照：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.businessLicense">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	营业执照注册号：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.registerNumber">
                            </div>
                        </div>
                       
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	注册地址：
                            </label>
                            <div ng-init="addresses">
                            	<div class="col-md-2">
									<select ng-model="merchant.prov" ng-change="selectedCity=''"
										ng-options="addr.name for addr in addresses"
										class=" form-control" required>
										<option value="">---请选择省份---</option>
									</select>
								</div>
								<div class="col-md-2">
									<select ng-model="merchant.city" ng-change="selectedArea=''"
										ng-options="city.name for city in merchant.prov.city"
										class=" form-control" required>
										<option value="">---请选择市---</option>
									</select>
								</div>
								<div class="col-md-2">
									<select ng-model="merchant.area"
										ng-options="area.name for area in merchant.city.area"
										class=" form-control" required>
										<option value="">---请选择区---</option>
									</select>
								</div>
								<div class="col-md-3">
									<input type="text" class="form-control"
										ng-model="merchant.address" required>
								</div>                           	
                            </div>	                         
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	公司名称：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.companyName">
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	经营范围：
                            </label>
                            <div class="col-md-9">
                                 <textarea rows="3" ng-model="merchant.range" style="width:65%"></textarea>                 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	证件类型：
                            </label>
                            <div class="col-md-9">
                                 <div class="radio">
					              <label>
					                <input type="radio"  value="0" ng-model="merchant.identityType">
					               身份证
					              </label>
					              <label>
					                <input type="radio"  value="1" ng-model="merchant.identityType">
					                护照
					              </label>
					            </div>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	证件影印件：
                            </label>
                            <div class="col-md-4">
                            <label>正面：</label>
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.identityCardOn">
                            </div>
                            <div class="col-md-4">
                            <label>反面：</label>
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.identityCardOff">
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	姓名：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.identityName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	证件号码：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.identityNum">
                            </div>
                        </div>
                          <div class="form-group">
                            <label class="col-md-3 control-label">
                                	证件有效期：
                            </label>        
                            <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
				               <div class="input-group w-md">
				                <input type="text" class="form-control" datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="merchant.identityBt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				                <span class="input-group-btn">
				                   <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				                </span>
				               </div>
				            </div>
                            <div class="col-sm-1" float:right style="vertical-align:middle;line-height:34px">
                                                                               至
                            </div>
                             <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
				               <div class="input-group w-md">
				                <input type="text" class="form-control" datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="merchant.identityEt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				                <span class="input-group-btn">
				                   <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				                </span>
				               </div>
				            </div>                    
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	组织机构代码证：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.organizeBarCodePic">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	组织机构代码证编号：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.organizeBarCode">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	代码证有效期：
                            </label>
                          <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
				            <div class="input-group w-md">
				              <input type="text" class="form-control" datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="merchant.organizeBarCodeBt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </div>
				          </div> 
                            <div class="col-sm-1" float:right style="vertical-align:middle;line-height:34px">
                                                                               至
                            </div>
                             <div class="col-sm-4" ng-controller="DatepickerDemoCtrl" float:right>
				            <div class="input-group w-md">
				              <input type="text" class="form-control" datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="merchant.organizeBarCodeEt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </div>
				          </div>                        
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	税务登记证：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.taxBarCodePic">
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	税务登记证号码：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.taxBarCode">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	税务登记证有效期：
                            </label>                   
                             <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
				               <div class="input-group w-md">
				                <input type="text" class="form-control" datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="merchant.taxBarCodeBt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				                <span class="input-group-btn">
				                   <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				                </span>
				               </div>
				            </div>
                            <div class="col-sm-1" float:right style="vertical-align:middle;line-height:34px">
                                                                               至
                            </div>
                          <div class="col-sm-4" ng-controller="DatepickerDemoCtrl" float:right>
				            <div class="input-group w-md">
				              <input type="text" class="form-control" datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="merchant.taxBarCodeEt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </div>
                        </div>
                        </div>
                           <div class="form-group">
                            <label class="col-md-3 control-label">
                                	清算类型：
                            </label>  
                            <div class="radio">
					          <label>
					          <input type="radio" value="0" ng-model="merchant.cleanType">
					               对公清算
					          </label>
					          <label>
				              <input type="radio" value="1" ng-model="merchant.cleanType">
					               对私清算
					          </label>
					          <label>
				              <input type="radio" value="2" ng-model="merchant.cleanType">
					               交叉清算
					          </label>
					          <label>
				              <input type="radio" value="3" ng-model="merchant.cleanType">
					               双账户清算
					          </label>
					       </div>
                            
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	开户行城市：
                            </label>
							<div class="col-md-4">
								<select ng-model="merchant.openBankProv"
									ng-change="selectedCity=''"
									ng-options="openBankaddr.name for openBankaddr in addresses"
									class=" form-control" required>
									<option value="">---请选择省份---</option>
								</select>
							</div>
							<div class="col-md-4">
									<select ng-model="merchant.openBankCity" ng-change="selectedArea=''"
										ng-options="city.name for city in merchant.openBankProv.city"
										class=" form-control" required>
										<option value="">---请选择市---</option>
									</select>
							</div>
						</div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	开户行：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.openBank">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	开户支行：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.openBankSub">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	户名：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.openBankName">
                            </div>
                        </div>
                       
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	银行账户：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.openBankAccount">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	银行卡：
                            </label>
                            <div class="col-md-4">
                            <label>正面：</label>
                            <input type="text" class="form-control" placeholder="" ng-model="merchant.bankCardOn">
                            </div>
                            <div class="col-md-4">
                            <label>反面：</label>
                            <input type="text" class="form-control" placeholder="" ng-model="merchant.bankCardOff">
                            </div>     
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	开户许可证：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.openBankLicense">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	签约合同：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.signAccount">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	预售卡处理：
                            </label>
                            <div class="col-md-9">
                                 <div class="radio">
					              <label>
					                <input type="radio" value="0" ng-model="merchant.openBookingCard">
					               开通
					              </label>
					              <label>
					                <input type="radio" value="1" ng-model="merchant.openBookingCard">
					               不开通
					              </label>
					            </div>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-3 control-label">
                                	行业费率：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.industryRate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	封顶机：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.cappingMachine">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	微信支付线上：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.weixinPayOnline">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	微信支付线下：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.weixinPayOffline">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	支付宝线上：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.aliPayOnline">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                	支付宝线下：
                            </label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" placeholder="" ng-model="merchant.aliPayOffline">
                            </div>
                        </div>
                      <button  ng-disabled="form.merchant.$invalid" ng-click="save(merchant)">保存</button>
                     </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
