
<div class="well" ng-controller="PayPasswordCtrl" ng-init="processForm()">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" name="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                               	原支付密码：
                            </label>
                            <div class="col-md-10">
                            	<input type="password" class="form-control" placeholder="请输入原支付密码" ng-model="old_pwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                               	 新支付密码：
                            </label>
                            <div class="col-md-10">
                            	<input type="password" class="form-control" placeholder="请设置新支付密码，至少6位" ng-model="new_pwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                	确认密码：
                            </label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" placeholder="请再次输入新支付密码" ng-model="verify_pwd">
                            </div>
                        </div>
                      <div class="col-md-offset-2"><button class="btn btn-default" ng-click="save()">保存</button></div>
                     </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
