<body ng-app="myApp">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">交易流水管理</h1>
</div>
<div class="wrapper-md" ng-controller="TransactionListCtrl">
  <div class="panel panel-default">
	  <div class="panel-heading">
		  <div class="row">
		    <div class="col-xs-8" >
		    <div style="float:left;">
		     <label >交易渠道：</label>
		     <select id="select_zero" ng-model="option_zero"  name="order_state"> 
				<option value = "">   </option> 
				<option value="支付宝">支付宝</option> 
				<option value="微信">微信</option> 	
				<option value="银联">银联</option> 
				<option value="预存款">预存款</option> 		
			</select> 
			</div>
			<div style="float:left;">
			 <label style="margin:0px 0px 0px 25px;">交易类型：</label>
		     <select id="select_one" ng-model='filterText_one' name="order_state"> 
				<option  value = "">   </option> 
				<option value="支付">支付</option> 
				<option value="退款">退款</option> 
			</select> 
			 </div>
			 <div style="float:left;" ng-controller="DatepickerDemoCtrl" >
			 <label style="margin:0px 0px 0px 25px;">支付时间：</label>
			     <input type="text"  style="width:100px;;" datepicker-popup="{{'yyyy-MM-dd'}}" id="transaction_time_left" ng-model="transaction_time_one" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				      <span class="input-group-btn">
      <button type="button" style="position:absolute;left:200px;top:-30px;" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				     </span>
				          </div>    
				          	 <div style="float:left;" ng-controller="DatepickerDemoCtrl" >
			 <span style="margin:0px 0px 0px 45px;"><b>到</b></span>
			     <input type="text"  style="width:100px;;" datepicker-popup="{{'yyyy-MM-dd'}}" id="transaction_time_right" ng-model="transaction_time_two" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				      <span class="input-group-btn">
      <button type="button" style="position:absolute;left:158px;top:-30px;" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				     </span>
				          </div> 
					</div>    
		    <div class="col-xs-3" style ="float: right;">
		   	 	<input id="filter_text" ng-model='filterText'/><button ng-click='search()'>查询</button>
			</div>
		</div>
    </div>
    <div class="table-responsive">
      <div ng-grid="gridOptions" style="min-height:420px"></div>
    </div>
  </div>          
		</div>
</body>