<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.card.SysCardTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.yunpos.model.card.SysCardTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="cardColor" property="cardColor" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="orgId" property="orgId" jdbcType="INTEGER" />
    <result column="merNo" property="merNo" jdbcType="VARCHAR" />
    <result column="weixin_card_id" property="weixin_card_id" jdbcType="VARCHAR" />
    <result column="weixin_show_qrcode_url" property="weixin_show_qrcode_url" jdbcType="VARCHAR" />
    <result column="putchannel" property="putchannel" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="inventory" property="inventory" jdbcType="INTEGER" />
    <result column="background" property="background" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="startDate" property="startDate" jdbcType="TIMESTAMP" />
    <result column="endDate" property="endDate" jdbcType="TIMESTAMP" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="merchant" property="merchant" jdbcType="VARCHAR" />
    <result column="createdAt" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updatedAt" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="customtitle" jdbcType="VARCHAR" property="customtitle" />
    <result column="limitNum" jdbcType="INTEGER" property="limitNum" />
    <result column="share" jdbcType="VARCHAR" property="share" />
    <result column="notice" jdbcType="VARCHAR" property="notice" />
    <result column="urltitle" jdbcType="VARCHAR" property="urltitle" />
    <result column="urldesc" jdbcType="VARCHAR" property="urldesc" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, cardColor, subtitle, type, status, orgId, merNo, weixin_card_id, weixin_show_qrcode_url, putchannel, number, inventory, background, logo, startDate, 
    endDate, tel, operation, merchant, createdAt, updatedAt , discount, customtitle, limitNum, 
    share, notice, urltitle, urldesc
  </sql>
   <sql id="Select_Parm_Column_List" >
     <if test="title != null" >
       and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="cardColor != null" >
       and cardColor = #{cardColor,jdbcType=VARCHAR}
      </if>
      <if test="subtitle != null" >
       and subtitle = #{subtitle,jdbcType=VARCHAR}
      </if>
      <if test="type != null" >
       and type = #{type,jdbcType=INTEGER}
      </if>
       <if test="status != null" >
       and status = #{status,jdbcType=INTEGER}
      </if>
       <if test="orgId != null" >
       and orgId = #{orgId,jdbcType=INTEGER}
      </if>
       <if test="merNo != null" >
       and merNo = #{merNo,jdbcType=VARCHAR}
      </if>
       <if test="weixin_card_id != null" >
       and weixin_card_id = #{weixin_card_id,jdbcType=VARCHAR}
      </if>
      <if test="weixin_show_qrcode_url != null" >
       and weixin_show_qrcode_url = #{weixin_show_qrcode_url,jdbcType=VARCHAR}
      </if>
      <if test="putchannel != null" >
       and putchannel = #{putchannel,jdbcType=VARCHAR}
      </if>
      <if test="background != null" >
       and background = #{background,jdbcType=VARCHAR}
      </if>
      <if test="number != null" >
       and number = #{number,jdbcType=INTEGER}
      </if>
      <if test="inventory != null" >
       and inventory = #{inventory,jdbcType=INTEGER}
      </if>
      <if test="background != null" >
       and background = #{background,jdbcType=VARCHAR}
      </if>
      <if test="logo != null" >
       and logo = #{logo,jdbcType=VARCHAR}
      </if>
      <if test="startDate != null" >
       and startDate = #{startDate,jdbcType=TIMESTAMP}
      </if>
      <if test="endDate != null" >
       and endDate = #{endDate,jdbcType=TIMESTAMP}
      </if>
      <if test="tel != null" >
       and tel = #{tel,jdbcType=VARCHAR}
      </if>
      <if test="operation != null" >
       and operation = #{operation,jdbcType=VARCHAR}
      </if>
      <if test="merchant != null" >
       and merchant = #{merchant,jdbcType=VARCHAR}
      </if>
      <if test="createdAt != null" >
       and createdAt = #{createdAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updatedAt != null" >
       and updatedAt = #{updatedAt,jdbcType=TIMESTAMP}
      </if>
      <if test="discount != null">
       and discount = #{discount,jdbcType=DOUBLE}
      </if>
      <if test="customtitle != null">
       and customtitle = #{customtitle,jdbcType=VARCHAR}
      </if>
      <if test="limitNum != null">
       and limitNum = #{limitNum,jdbcType=INTEGER}
      </if>
      <if test="share != null">
       and share = #{share,jdbcType=VARCHAR}
      </if>
      <if test="notice != null">
       and notice = #{notice,jdbcType=VARCHAR}
      </if>
      <if test="urltitle != null">
       and urltitle = #{urltitle,jdbcType=VARCHAR}
      </if>
      <if test="urldesc != null">
       and urldesc = #{urldesc,jdbcType=VARCHAR}
      </if>
   </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_card_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_card_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunpos.model.card.SysCardTemplate" >
    insert into sys_card_template (id, title, cardColor, 
      subtitle, type, status, orgId, merNo, weixin_card_id, weixin_show_qrcode_url, putchannel, number, 
      inventory, background, logo, 
      startDate, endDate, tel, 
      operation, merchant, createdAt, 
      updatedAt, discount, customtitle, 
      limitNum, share, notice, 
      urltitle, urldesc)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{cardColor,jdbcType=VARCHAR}, 
      #{subtitle,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{orgId,jdbcType=INTEGER}, #{merNo,jdbcType=VARCHAR}, #{weixin_card_id,jdbcType=VARCHAR},
      #{weixin_show_qrcode_url,jdbcType=VARCHAR}, #{putchannel,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{inventory,jdbcType=INTEGER}, #{background,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{tel,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{merchant,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{discount,jdbcType=DOUBLE}, #{customtitle,jdbcType=VARCHAR}, 
      #{limitNum,jdbcType=INTEGER}, #{share,jdbcType=VARCHAR}, #{notice,jdbcType=VARCHAR}, 
      #{urltitle,jdbcType=VARCHAR}, #{urldesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunpos.model.card.SysCardTemplate" >
    insert into sys_card_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="cardColor != null" >
        cardColor,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="orgId != null" >
        orgId,
      </if>
      <if test="merNo != null" >
        merNo,
      </if>
      <if test="weixin_card_id != null" >
        weixin_card_id
      </if>
      <if test="weixin_show_qrcode_url != null" >
        weixin_show_qrcode_url
      </if> 
      <if test="putchannel != null" >
        putchannel,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="inventory != null" >
        inventory,
      </if>
      <if test="background != null" >
        background,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="startDate != null" >
        startDate,
      </if>
      <if test="endDate != null" >
        endDate,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="operation != null" >
        operation,
      </if>
      <if test="merchant != null" >
        merchant,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="customtitle != null">
        customtitle,
      </if>
      <if test="limitNum != null">
        limitNum,
      </if>
      <if test="share != null">
        share,
      </if>
      <if test="notice != null">
        notice,
      </if>
      <if test="urltitle != null">
        urltitle,
      </if>
      <if test="urldesc != null">
        urldesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cardColor != null" >
        #{cardColor,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="merNo != null" >
        #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="weixin_card_id != null" >
        #{weixin_card_id,jdbcType=VARCHAR},
      </if>
      <if test="weixin_show_qrcode_url != null" >
        #{weixin_show_qrcode_url,jdbcType=VARCHAR},
      </if>
      <if test="putchannel != null" >
        #{putchannel,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="inventory != null" >
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="background != null" >
        #{background,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null" >
        #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="customtitle != null">
        #{customtitle,jdbcType=VARCHAR},
      </if>
      <if test="limitNum != null">
        #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="share != null">
        #{share,jdbcType=VARCHAR},
      </if>
      <if test="notice != null">
        #{notice,jdbcType=VARCHAR},
      </if>
      <if test="urltitle != null">
        #{urltitle,jdbcType=VARCHAR},
      </if>
      <if test="urldesc != null">
        #{urldesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.card.SysCardTemplate" >
    update sys_card_template
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cardColor != null" >
        cardColor = #{cardColor,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        orgId = #{orgId,jdbcType=INTEGER},
      </if>
       <if test="merNo != null" >
        merNo = #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="weixin_card_id != null" >
        weixin_card_id = #{weixin_card_id,jdbcType=VARCHAR},
      </if>
      <if test="weixin_show_qrcode_url != null" >
        weixin_show_qrcode_url = #{weixin_show_qrcode_url,jdbcType=VARCHAR},
      </if>
      <if test="putchannel != null" >
        putchannel = #{putchannel,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="inventory != null" >
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
      <if test="background != null" >
        background = #{background,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        startDate = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        endDate = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null" >
        merchant = #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        createdAt = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="customtitle != null">
        customtitle = #{customtitle,jdbcType=VARCHAR},
      </if>
      <if test="limitNum != null">
        limitNum = #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="share != null">
        share = #{share,jdbcType=VARCHAR},
      </if>
      <if test="notice != null">
        notice = #{notice,jdbcType=VARCHAR},
      </if>
      <if test="urltitle != null">
        urltitle = #{urltitle,jdbcType=VARCHAR},
      </if>
      <if test="urldesc != null">
        urldesc = #{urldesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunpos.model.card.SysCardTemplate" >
    update sys_card_template
    set title = #{title,jdbcType=VARCHAR},
      cardColor = #{cardColor,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      orgId = #{orgId,jdbcType=INTEGER},
      merNo = #{merNo,jdbcType=VARCHAR},
      weixin_card_id = #{weixin_card_id,jdbcType=VARCHAR},
      weixin_show_qrcode_url = #{weixin_show_qrcode_url,jdbcType=VARCHAR},
      putchannel = #{putchannel,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      inventory = #{inventory,jdbcType=INTEGER},
      background = #{background,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      startDate = #{startDate,jdbcType=TIMESTAMP},
      endDate = #{endDate,jdbcType=TIMESTAMP},
      tel = #{tel,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      merchant = #{merchant,jdbcType=VARCHAR},
      createdAt = #{createdAt,jdbcType=TIMESTAMP},
      updatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      discount = #{discount,jdbcType=DOUBLE},
      customtitle = #{customtitle,jdbcType=VARCHAR},
      limitNum = #{limitNum,jdbcType=INTEGER},
      share = #{share,jdbcType=VARCHAR},
      notice = #{notice,jdbcType=VARCHAR},
      urltitle = #{urltitle,jdbcType=VARCHAR},
      urldesc = #{urldesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectByParm" resultMap="BaseResultMap"
		parameterType="com.yunpos.model.card.SysCardTemplate">
		select
		<include refid="Base_Column_List" />
		from sys_card_template
		where 1 = 1

		<include refid="Select_Parm_Column_List" />
		ORDER BY id
		<if test="pageNumber != null and  pageNumber &gt; 0">
			limit #{start}, #{pageSize}
		</if>
	</select>

	<select id="selectCountByParm" resultType="java.lang.Integer"
		parameterType="com.yunpos.model.card.SysCardTemplate">
		select count(*) from sys_card_template
		where 1 = 1
		<include refid="Select_Parm_Column_List" />

	</select>
</mapper>