<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.OrgMapper">
	<resultMap id="BaseResultMap" type="com.yunpos.model.Org">
		<id column="orgId" property="orgId" jdbcType="INTEGER" />
		<result column="orgNo" property="orgNo" jdbcType="VARCHAR" />
		<result column="orgName" property="orgName" jdbcType="VARCHAR" />
		<result column="orgParentId" property="orgParentId" jdbcType="INTEGER" />
		<result column="orgParentName" property="orgParentName"
			jdbcType="VARCHAR" />
		<result column="orgParentNo" property="orgParentNo" jdbcType="VARCHAR" />
		<result column="createUserId" property="createUserId" jdbcType="INTEGER" />
		<result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
		<result column="modifyUserId" property="modifyUserId" jdbcType="INTEGER" />
		<result column="modifyDate" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="isLeaf" property="isLeaf" jdbcType="BIT" />
		<result column="loaded" property="loaded" jdbcType="BIT" />
		<result column="expanded" property="expanded" jdbcType="BIT" />
	</resultMap>
	<sql id="Base_Column_List">
		orgId, orgNo, orgName, orgParentId, orgParentName, orgParentNo,
		createUserId, createDate,
		modifyUserId, modifyDate, level, isLeaf, loaded, expanded
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from org
		where orgId = #{orgId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from org
		where orgId = #{orgId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yunpos.model.Org">
		insert into org (orgId, orgNo, orgName,
		orgParentId, orgParentName, orgParentNo,
		createUserId, createDate, modifyUserId,
		modifyDate, level, isLeaf,
		loaded, expanded)
		values (#{orgId,jdbcType=INTEGER}, #{orgNo,jdbcType=VARCHAR},
		#{orgName,jdbcType=VARCHAR},
		#{orgParentId,jdbcType=INTEGER}, #{orgParentName,jdbcType=VARCHAR}, #{orgParentNo,jdbcType=VARCHAR},
		#{createUserId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
		#{modifyUserId,jdbcType=INTEGER},
		#{modifyDate,jdbcType=TIMESTAMP}, #{level,jdbcType=INTEGER}, #{isLeaf,jdbcType=BIT},
		#{loaded,jdbcType=BIT}, #{expanded,jdbcType=BIT})
	</insert>
	<insert id="insertSelective" parameterType="com.yunpos.model.Org">
		insert into org
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orgId != null">
				orgId,
			</if>
			<if test="orgNo != null">
				orgNo,
			</if>
			<if test="orgName != null">
				orgName,
			</if>
			<if test="orgParentId != null">
				orgParentId,
			</if>
			<if test="orgParentName != null">
				orgParentName,
			</if>
			<if test="orgParentNo != null">
				orgParentNo,
			</if>
			<if test="createUserId != null">
				createUserId,
			</if>
			<if test="createDate != null">
				createDate,
			</if>
			<if test="modifyUserId != null">
				modifyUserId,
			</if>
			<if test="modifyDate != null">
				modifyDate,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="isLeaf != null">
				isLeaf,
			</if>
			<if test="loaded != null">
				loaded,
			</if>
			<if test="expanded != null">
				expanded,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orgId != null">
				#{orgId,jdbcType=INTEGER},
			</if>
			<if test="orgNo != null">
				#{orgNo,jdbcType=VARCHAR},
			</if>
			<if test="orgName != null">
				#{orgName,jdbcType=VARCHAR},
			</if>
			<if test="orgParentId != null">
				#{orgParentId,jdbcType=INTEGER},
			</if>
			<if test="orgParentName != null">
				#{orgParentName,jdbcType=VARCHAR},
			</if>
			<if test="orgParentNo != null">
				#{orgParentNo,jdbcType=VARCHAR},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyUserId != null">
				#{modifyUserId,jdbcType=INTEGER},
			</if>
			<if test="modifyDate != null">
				#{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="isLeaf != null">
				#{isLeaf,jdbcType=BIT},
			</if>
			<if test="loaded != null">
				#{loaded,jdbcType=BIT},
			</if>
			<if test="expanded != null">
				#{expanded,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.Org">
		update org
		<set>
			<if test="orgNo != null">
				orgNo = #{orgNo,jdbcType=VARCHAR},
			</if>
			<if test="orgName != null">
				orgName = #{orgName,jdbcType=VARCHAR},
			</if>
			<if test="orgParentId != null">
				orgParentId = #{orgParentId,jdbcType=INTEGER},
			</if>
			<if test="orgParentName != null">
				orgParentName = #{orgParentName,jdbcType=VARCHAR},
			</if>
			<if test="orgParentNo != null">
				orgParentNo = #{orgParentNo,jdbcType=VARCHAR},
			</if>
			<if test="createUserId != null">
				createUserId = #{createUserId,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				createDate = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyUserId != null">
				modifyUserId = #{modifyUserId,jdbcType=INTEGER},
			</if>
			<if test="modifyDate != null">
				modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=INTEGER},
			</if>
			<if test="isLeaf != null">
				isLeaf = #{isLeaf,jdbcType=BIT},
			</if>
			<if test="loaded != null">
				loaded = #{loaded,jdbcType=BIT},
			</if>
			<if test="expanded != null">
				expanded = #{expanded,jdbcType=BIT},
			</if>
		</set>
		where orgId = #{orgId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yunpos.model.Org">
		update org
		set orgNo = #{orgNo,jdbcType=VARCHAR},
		orgName = #{orgName,jdbcType=VARCHAR},
		orgParentId = #{orgParentId,jdbcType=INTEGER},
		orgParentName = #{orgParentName,jdbcType=VARCHAR},
		orgParentNo = #{orgParentNo,jdbcType=VARCHAR},
		createUserId = #{createUserId,jdbcType=INTEGER},
		createDate = #{createDate,jdbcType=TIMESTAMP},
		modifyUserId = #{modifyUserId,jdbcType=INTEGER},
		modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
		level = #{level,jdbcType=INTEGER},
		isLeaf = #{isLeaf,jdbcType=BIT},
		loaded = #{loaded,jdbcType=BIT},
		expanded = #{expanded,jdbcType=BIT}
		where orgId = #{orgId,jdbcType=INTEGER}
	</update>

	<!-- ##################################### -->
	<delete id="batchDeleteByIds">
		delete from org where orgId in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>