<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.PrivilegeMapper">
	<resultMap id="BaseResultMap" type="com.yunpos.model.Privilege">
		<id column="privilegeId" property="privilegeId" jdbcType="INTEGER" />
		<result column="privilegeMaster" property="privilegeMaster"
			jdbcType="VARCHAR" />
		<result column="privilegeMasterValue" property="privilegeMasterValue"
			jdbcType="INTEGER" />
		<result column="privilegeAccess" property="privilegeAccess"
			jdbcType="VARCHAR" />
		<result column="privilegeAccessValue" property="privilegeAccessValue"
			jdbcType="INTEGER" />
		<result column="privilegeOperation" property="privilegeOperation"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		privilegeId, privilegeMaster, privilegeMasterValue, privilegeAccess,
		privilegeAccessValue,
		privilegeOperation
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from privilege
		where privilegeId = #{privilegeId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from privilege
		where privilegeId = #{privilegeId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yunpos.model.Privilege">
		insert into privilege (privilegeId, privilegeMaster,
		privilegeMasterValue,
		privilegeAccess, privilegeAccessValue,
		privilegeOperation)
		values (#{privilegeId,jdbcType=INTEGER},
		#{privilegeMaster,jdbcType=VARCHAR},
		#{privilegeMasterValue,jdbcType=INTEGER},
		#{privilegeAccess,jdbcType=VARCHAR},
		#{privilegeAccessValue,jdbcType=INTEGER},
		#{privilegeOperation,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.yunpos.model.Privilege">
		insert into privilege
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="privilegeId != null">
				privilegeId,
			</if>
			<if test="privilegeMaster != null">
				privilegeMaster,
			</if>
			<if test="privilegeMasterValue != null">
				privilegeMasterValue,
			</if>
			<if test="privilegeAccess != null">
				privilegeAccess,
			</if>
			<if test="privilegeAccessValue != null">
				privilegeAccessValue,
			</if>
			<if test="privilegeOperation != null">
				privilegeOperation,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="privilegeId != null">
				#{privilegeId,jdbcType=INTEGER},
			</if>
			<if test="privilegeMaster != null">
				#{privilegeMaster,jdbcType=VARCHAR},
			</if>
			<if test="privilegeMasterValue != null">
				#{privilegeMasterValue,jdbcType=INTEGER},
			</if>
			<if test="privilegeAccess != null">
				#{privilegeAccess,jdbcType=VARCHAR},
			</if>
			<if test="privilegeAccessValue != null">
				#{privilegeAccessValue,jdbcType=INTEGER},
			</if>
			<if test="privilegeOperation != null">
				#{privilegeOperation,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.Privilege">
		update privilege
		<set>
			<if test="privilegeMaster != null">
				privilegeMaster = #{privilegeMaster,jdbcType=VARCHAR},
			</if>
			<if test="privilegeMasterValue != null">
				privilegeMasterValue = #{privilegeMasterValue,jdbcType=INTEGER},
			</if>
			<if test="privilegeAccess != null">
				privilegeAccess = #{privilegeAccess,jdbcType=VARCHAR},
			</if>
			<if test="privilegeAccessValue != null">
				privilegeAccessValue = #{privilegeAccessValue,jdbcType=INTEGER},
			</if>
			<if test="privilegeOperation != null">
				privilegeOperation = #{privilegeOperation,jdbcType=INTEGER},
			</if>
		</set>
		where privilegeId = #{privilegeId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yunpos.model.Privilege">
		update privilege
		set privilegeMaster = #{privilegeMaster,jdbcType=VARCHAR},
		privilegeMasterValue = #{privilegeMasterValue,jdbcType=INTEGER},
		privilegeAccess = #{privilegeAccess,jdbcType=VARCHAR},
		privilegeAccessValue = #{privilegeAccessValue,jdbcType=INTEGER},
		privilegeOperation = #{privilegeOperation,jdbcType=INTEGER}
		where privilegeId = #{privilegeId,jdbcType=INTEGER}
	</update>

	<!-- ##################################### -->
	<select id="findListByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from privilege where privilegeId in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>


	<delete id="batchDeleteByIds">
		delete from privilege where privilegeId in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

</mapper>