<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.RoleMapper">
	<resultMap id="BaseResultMap" type="com.yunpos.model.Role">
		<id column="RoleID" property="roleid" jdbcType="INTEGER" />
		<result column="RoleName" property="rolename" jdbcType="VARCHAR" />
		<result column="RoleDesc" property="roledesc" jdbcType="VARCHAR" />
		<result column="OrgID" property="orgid" jdbcType="INTEGER" />
		<result column="CreateUserID" property="createuserid" jdbcType="INTEGER" />
		<result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
		<result column="ModifyUserID" property="modifyuserid" jdbcType="INTEGER" />
		<result column="ModifyDate" property="modifydate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		RoleID, RoleName, RoleDesc, OrgID, CreateUserID,
		CreateDate, ModifyUserID,
		ModifyDate
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from role
		where RoleID = #{roleid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from role
		where RoleID = #{roleid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yunpos.model.Role">
		insert into role (RoleID,
		RoleName, RoleDesc,
		OrgID, CreateUserID, CreateDate,
		ModifyUserID,
		ModifyDate)
		values (#{roleid,jdbcType=INTEGER},
		#{rolename,jdbcType=VARCHAR},
		#{roledesc,jdbcType=VARCHAR},
		#{orgid,jdbcType=INTEGER}, #{createuserid,jdbcType=INTEGER},
		#{createdate,jdbcType=TIMESTAMP},
		#{modifyuserid,jdbcType=INTEGER},
		#{modifydate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.yunpos.model.Role">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleid != null">
				RoleID,
			</if>
			<if test="rolename != null">
				RoleName,
			</if>
			<if test="roledesc != null">
				RoleDesc,
			</if>
			<if test="orgid != null">
				OrgID,
			</if>
			<if test="createuserid != null">
				CreateUserID,
			</if>
			<if test="createdate != null">
				CreateDate,
			</if>
			<if test="modifyuserid != null">
				ModifyUserID,
			</if>
			<if test="modifydate != null">
				ModifyDate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleid != null">
				#{roleid,jdbcType=INTEGER},
			</if>
			<if test="rolename != null">
				#{rolename,jdbcType=VARCHAR},
			</if>
			<if test="roledesc != null">
				#{roledesc,jdbcType=VARCHAR},
			</if>
			<if test="orgid != null">
				#{orgid,jdbcType=INTEGER},
			</if>
			<if test="createuserid != null">
				#{createuserid,jdbcType=INTEGER},
			</if>
			<if test="createdate != null">
				#{createdate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyuserid != null">
				#{modifyuserid,jdbcType=INTEGER},
			</if>
			<if test="modifydate != null">
				#{modifydate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.Role">
		update role
		<set>
			<if test="rolename != null">
				RoleName = #{rolename,jdbcType=VARCHAR},
			</if>
			<if test="roledesc != null">
				RoleDesc = #{roledesc,jdbcType=VARCHAR},
			</if>
			<if test="orgid != null">
				OrgID = #{orgid,jdbcType=INTEGER},
			</if>
			<if test="createuserid != null">
				CreateUserID = #{createuserid,jdbcType=INTEGER},
			</if>
			<if test="createdate != null">
				CreateDate = #{createdate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyuserid != null">
				ModifyUserID = #{modifyuserid,jdbcType=INTEGER},
			</if>
			<if test="modifydate != null">
				ModifyDate = #{modifydate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where RoleID = #{roleid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yunpos.model.Role">
		update role
		set
		RoleName = #{rolename,jdbcType=VARCHAR},
		RoleDesc =
		#{roledesc,jdbcType=VARCHAR},
		OrgID = #{orgid,jdbcType=INTEGER},
		CreateUserID = #{createuserid,jdbcType=INTEGER},
		CreateDate =
		#{createdate,jdbcType=TIMESTAMP},
		ModifyUserID =
		#{modifyuserid,jdbcType=INTEGER},
		ModifyDate =
		#{modifydate,jdbcType=TIMESTAMP}
		where RoleID =
		#{roleid,jdbcType=INTEGER}
	</update>

	<select id="findByIdsMap" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from role where roleid in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	 <!-- ##################################### -->
	<delete id="batchDeleteByIds">
		delete from role where roleid in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>