<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.SysAppMapper" >
  <resultMap id="BaseResultMap" type="com.yunpos.model.SysApp" >
    <id column="ApplicationID" property="applicationid" jdbcType="INTEGER" />
    <result column="ApplicationCode" property="applicationcode" jdbcType="INTEGER" />
    <result column="ApplicationName" property="applicationname" jdbcType="VARCHAR" />
    <result column="ApplicationDesc" property="applicationdesc" jdbcType="VARCHAR" />
    <result column="ShowInMenu" property="showinmenu" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ApplicationID, ApplicationCode, ApplicationName, ApplicationDesc, ShowInMenu
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_app
    where ApplicationID = #{applicationid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_app
    where ApplicationID = #{applicationid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunpos.model.SysApp" >
    insert into sys_app (ApplicationID, ApplicationCode, ApplicationName, 
      ApplicationDesc, ShowInMenu)
    values (#{applicationid,jdbcType=INTEGER}, #{applicationcode,jdbcType=INTEGER}, #{applicationname,jdbcType=VARCHAR}, 
      #{applicationdesc,jdbcType=VARCHAR}, #{showinmenu,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yunpos.model.SysApp" >
    insert into sys_app
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applicationid != null" >
        ApplicationID,
      </if>
      <if test="applicationcode != null" >
        ApplicationCode,
      </if>
      <if test="applicationname != null" >
        ApplicationName,
      </if>
      <if test="applicationdesc != null" >
        ApplicationDesc,
      </if>
      <if test="showinmenu != null" >
        ShowInMenu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applicationid != null" >
        #{applicationid,jdbcType=INTEGER},
      </if>
      <if test="applicationcode != null" >
        #{applicationcode,jdbcType=INTEGER},
      </if>
      <if test="applicationname != null" >
        #{applicationname,jdbcType=VARCHAR},
      </if>
      <if test="applicationdesc != null" >
        #{applicationdesc,jdbcType=VARCHAR},
      </if>
      <if test="showinmenu != null" >
        #{showinmenu,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.SysApp" >
    update sys_app
    <set >
      <if test="applicationcode != null" >
        ApplicationCode = #{applicationcode,jdbcType=INTEGER},
      </if>
      <if test="applicationname != null" >
        ApplicationName = #{applicationname,jdbcType=VARCHAR},
      </if>
      <if test="applicationdesc != null" >
        ApplicationDesc = #{applicationdesc,jdbcType=VARCHAR},
      </if>
      <if test="showinmenu != null" >
        ShowInMenu = #{showinmenu,jdbcType=INTEGER},
      </if>
    </set>
    where ApplicationID = #{applicationid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunpos.model.SysApp" >
    update sys_app
    set ApplicationCode = #{applicationcode,jdbcType=INTEGER},
      ApplicationName = #{applicationname,jdbcType=VARCHAR},
      ApplicationDesc = #{applicationdesc,jdbcType=VARCHAR},
      ShowInMenu = #{showinmenu,jdbcType=INTEGER}
    where ApplicationID = #{applicationid,jdbcType=INTEGER}
  </update>
</mapper>