<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.FilterDifinitionValueMapper" >
  <resultMap id="BaseResultMap" type="com.yunpos.model.FilterDifinitionValue" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <association property="filterDifinition" column="filter_difinition_id" jdbcType="INTEGER"
                 select="com.yunpos.persistence.dao.FilterDifinitionMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, filter_difinition_id, value
  </sql>
  <select id="countByDifinitionId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select count(*) from filter_difinition_value where filter_difinition_id = #{difinitionId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from filter_difinition_value
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByDifinitionId" resultMap="BaseResultMap" parameterType="Map" >
    select
    <include refid="Base_Column_List" />
    from filter_difinition_value
    where filter_difinition_id = #{difinitionId,jdbcType=INTEGER}
    <if test="offset !=null and  limit!=null">
      limit #{offset},#{limit}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from filter_difinition_value
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunpos.model.FilterDifinitionValue" >
    insert into filter_difinition_value (id, filter_difinition_id, type,
      value)
    value (#{id,jdbcType=INTEGER}, #{filter_difinition_id,jdbcType=VARCHAR},
      #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunpos.model.FilterDifinitionValue" >
    insert into filter_difinition_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="filter_difinition_id != null" >
        filter_difinition_id,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="value (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filter_difinition_id != null" >
        #{filter_difinition_id,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.FilterDifinitionValue" >
    update filter_difinition_value
    <set >
      <if test="filter_difinition_id != null" >
        filter_difinition_id = #{filter_difinition_id,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunpos.model.FilterDifinitionValue" >
    update filter_difinition_value
    set filter_difinition_id = #{filter_difinition_id,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>