<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.FilterDifinitionMapper" >
  <resultMap id="BaseResultMap" type="com.yunpos.model.FilterDifinitionData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="resource_id" property="resource_id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value_type" property="valueType" jdbcType="INTEGER" typeHandler="com.yunpos.mybatisPlugin.FilterOpEnumTypeHandler"/>
    <result column="data_type" property="dataType" jdbcType="INTEGER"
            typeHandler="com.yunpos.mybatisPlugin.ValueDataTypeHandler"/>
    <result column="table_name" property="table_name" jdbcType="VARCHAR" />
    <result column="col_name" property="col_name" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="support_op" property="support_op_code" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, resource_id, name, value_type, data_type, table_name, col_name, key, support_op
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from filter_difinition
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByResourceId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from filter_difinition
    where resource_id = #{resource_id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from filter_difinition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunpos.model.FilterDifinitionData" >
    insert into filter_difinition (id, resource_id, name, 
      type, data_type, table_name, 
      col_name, key, support_op
      )
    values (#{id,jdbcType=INTEGER}, #{resource_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{valueType,jdbcType=INTEGER}, #{data_type,jdbcType=INTEGER}, #{table_name,jdbcType=VARCHAR},
      #{col_name,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{support_op,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunpos.model.FilterDifinitionData" >
    insert into filter_difinition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resource_id != null" >
        resource_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="valueType != null" >
        value_type,
      </if>
      <if test="data_type != null" >
        data_type,
      </if>
      <if test="table_name != null" >
        table_name,
      </if>
      <if test="col_name != null" >
        col_name,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="support_op != null" >
        support_op,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resource_id != null" >
        #{resource_id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="valueType != null" >
        #{valueType,jdbcType=INTEGER},
      </if>
      <if test="data_type != null" >
        #{data_type,jdbcType=INTEGER},
      </if>
      <if test="table_name != null" >
        #{table_name,jdbcType=VARCHAR},
      </if>
      <if test="col_name != null" >
        #{col_name,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="support_op != null" >
        #{support_op,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.FilterDifinitionData" >
    update filter_difinition
    <set >
      <if test="resource_id != null" >
        resource_id = #{resource_id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="valueType != null" >
        value_type = #{valueType,jdbcType=INTEGER},
      </if>
      <if test="data_type != null" >
        data_type = #{data_type,jdbcType=INTEGER},
      </if>
      <if test="table_name != null" >
        table_name = #{table_name,jdbcType=VARCHAR},
      </if>
      <if test="col_name != null" >
        col_name = #{col_name,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="support_op != null" >
        support_op = #{support_op,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunpos.model.FilterDifinitionData" >
    update filter_difinition
    set resource_id = #{resource_id,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      value_type = #{valueType,jdbcType=INTEGER},
      data_type = #{data_type,jdbcType=INTEGER},
      table_name = #{table_name,jdbcType=VARCHAR},
      col_name = #{col_name,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      support_op = #{support_op,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>