<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.SysAlipayConfigMapper" >
  <resultMap id="BaseResultMap" type="com.yunpos.model.SysAlipayConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sellerEmail" property="sellerEmail" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="merchanSynNotify" property="merchanSynNotify" jdbcType="VARCHAR" />
    <result column="merchanAsynNotify" property="merchanAsynNotify" jdbcType="VARCHAR" />
    <result column="synNotify" property="synNotify" jdbcType="VARCHAR" />
    <result column="asynNotify" property="asynNotify" jdbcType="VARCHAR" />
    <result column="devGetway" property="devGetway" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="pagentId" property="pagentId" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="merchantNo" property="merchantNo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yunpos.model.SysAlipayConfigWithBLOBs" extends="BaseResultMap" >
    <result column="merchantPrivateKey" property="merchantPrivateKey" jdbcType="LONGVARCHAR" />
    <result column="alipayPublicKey" property="alipayPublicKey" jdbcType="LONGVARCHAR" />
    <result column="appPrivateKey" property="appPrivateKey" jdbcType="LONGVARCHAR" />
    <result column="appPublicKey" property="appPublicKey" jdbcType="LONGVARCHAR" />
    <result column="devPublicKey" property="devPublicKey" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sellerEmail, pid, key, merchanSynNotify, merchanAsynNotify, synNotify, asynNotify, 
    devGetway, token, pagentId, mark, info, status, merchantNo
  </sql>
  <sql id="Blob_Column_List" >
    merchantPrivateKey, alipayPublicKey, appPrivateKey, appPublicKey, devPublicKey
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_alipay_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_alipay_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunpos.model.SysAlipayConfigWithBLOBs" useGeneratedKeys="true" keyProperty="id">
    insert into sys_alipay_config ( sellerEmail, pid, 
      key, merchanSynNotify, merchanAsynNotify, 
      synNotify, asynNotify, devGetway, 
      token, pagentId, mark, 
      info, status, merchantNo, 
      merchantPrivateKey, alipayPublicKey, 
      appPrivateKey, appPublicKey, devPublicKey
      )
    values (#{sellerEmail,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, 
      #{key,jdbcType=VARCHAR}, #{merchanSynNotify,jdbcType=VARCHAR}, #{merchanAsynNotify,jdbcType=VARCHAR}, 
      #{synNotify,jdbcType=VARCHAR}, #{asynNotify,jdbcType=VARCHAR}, #{devGetway,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{pagentId,jdbcType=VARCHAR}, #{mark,jdbcType=VARCHAR}, 
      #{info,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{merchantNo,jdbcType=VARCHAR}, 
      #{merchantPrivateKey,jdbcType=LONGVARCHAR}, #{alipayPublicKey,jdbcType=LONGVARCHAR}, 
      #{appPrivateKey,jdbcType=LONGVARCHAR}, #{appPublicKey,jdbcType=LONGVARCHAR}, #{devPublicKey,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunpos.model.SysAlipayConfigWithBLOBs" >
    insert into sys_alipay_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sellerEmail != null" >
        sellerEmail,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="merchanSynNotify != null" >
        merchanSynNotify,
      </if>
      <if test="merchanAsynNotify != null" >
        merchanAsynNotify,
      </if>
      <if test="synNotify != null" >
        synNotify,
      </if>
      <if test="asynNotify != null" >
        asynNotify,
      </if>
      <if test="devGetway != null" >
        devGetway,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="pagentId != null" >
        pagentId,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="merchantNo != null" >
        merchantNo,
      </if>
      <if test="merchantPrivateKey != null" >
        merchantPrivateKey,
      </if>
      <if test="alipayPublicKey != null" >
        alipayPublicKey,
      </if>
      <if test="appPrivateKey != null" >
        appPrivateKey,
      </if>
      <if test="appPublicKey != null" >
        appPublicKey,
      </if>
      <if test="devPublicKey != null" >
        devPublicKey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sellerEmail != null" >
        #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="merchanSynNotify != null" >
        #{merchanSynNotify,jdbcType=VARCHAR},
      </if>
      <if test="merchanAsynNotify != null" >
        #{merchanAsynNotify,jdbcType=VARCHAR},
      </if>
      <if test="synNotify != null" >
        #{synNotify,jdbcType=VARCHAR},
      </if>
      <if test="asynNotify != null" >
        #{asynNotify,jdbcType=VARCHAR},
      </if>
      <if test="devGetway != null" >
        #{devGetway,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="pagentId != null" >
        #{pagentId,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantPrivateKey != null" >
        #{merchantPrivateKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="alipayPublicKey != null" >
        #{alipayPublicKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="appPrivateKey != null" >
        #{appPrivateKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="appPublicKey != null" >
        #{appPublicKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="devPublicKey != null" >
        #{devPublicKey,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.SysAlipayConfigWithBLOBs" >
    update sys_alipay_config
    <set >
      <if test="sellerEmail != null" >
        sellerEmail = #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="merchanSynNotify != null" >
        merchanSynNotify = #{merchanSynNotify,jdbcType=VARCHAR},
      </if>
      <if test="merchanAsynNotify != null" >
        merchanAsynNotify = #{merchanAsynNotify,jdbcType=VARCHAR},
      </if>
      <if test="synNotify != null" >
        synNotify = #{synNotify,jdbcType=VARCHAR},
      </if>
      <if test="asynNotify != null" >
        asynNotify = #{asynNotify,jdbcType=VARCHAR},
      </if>
      <if test="devGetway != null" >
        devGetway = #{devGetway,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="pagentId != null" >
        pagentId = #{pagentId,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="merchantNo != null" >
        merchantNo = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantPrivateKey != null" >
        merchantPrivateKey = #{merchantPrivateKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="alipayPublicKey != null" >
        alipayPublicKey = #{alipayPublicKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="appPrivateKey != null" >
        appPrivateKey = #{appPrivateKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="appPublicKey != null" >
        appPublicKey = #{appPublicKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="devPublicKey != null" >
        devPublicKey = #{devPublicKey,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yunpos.model.SysAlipayConfigWithBLOBs" >
    update sys_alipay_config
    set sellerEmail = #{sellerEmail,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      merchanSynNotify = #{merchanSynNotify,jdbcType=VARCHAR},
      merchanAsynNotify = #{merchanAsynNotify,jdbcType=VARCHAR},
      synNotify = #{synNotify,jdbcType=VARCHAR},
      asynNotify = #{asynNotify,jdbcType=VARCHAR},
      devGetway = #{devGetway,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      pagentId = #{pagentId,jdbcType=VARCHAR},
      mark = #{mark,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      merchantNo = #{merchantNo,jdbcType=VARCHAR},
      merchantPrivateKey = #{merchantPrivateKey,jdbcType=LONGVARCHAR},
      alipayPublicKey = #{alipayPublicKey,jdbcType=LONGVARCHAR},
      appPrivateKey = #{appPrivateKey,jdbcType=LONGVARCHAR},
      appPublicKey = #{appPublicKey,jdbcType=LONGVARCHAR},
      devPublicKey = #{devPublicKey,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunpos.model.SysAlipayConfig" >
    update sys_alipay_config
    set sellerEmail = #{sellerEmail,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      merchanSynNotify = #{merchanSynNotify,jdbcType=VARCHAR},
      merchanAsynNotify = #{merchanAsynNotify,jdbcType=VARCHAR},
      synNotify = #{synNotify,jdbcType=VARCHAR},
      asynNotify = #{asynNotify,jdbcType=VARCHAR},
      devGetway = #{devGetway,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      pagentId = #{pagentId,jdbcType=VARCHAR},
      mark = #{mark,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      merchantNo = #{merchantNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>