<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.SysButtonMapper">
	<resultMap id="BaseResultMap" type="com.yunpos.model.SysButton">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="btnName" property="btnName" jdbcType="VARCHAR" />
		<result column="btnNo" property="btnNo" jdbcType="INTEGER" />
		<result column="btnIcon" property="btnIcon" jdbcType="VARCHAR" />
		<result column="menuNo" property="menuNo" jdbcType="INTEGER" />
		<result column="InitStatus" property="initStatus" jdbcType="INTEGER" />
		<result column="seqNo" property="seqNo" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.yunpos.model.SysButtonWithBLOBs"
		extends="BaseResultMap">
		<result column="btnClass" property="btnClass" jdbcType="LONGVARCHAR" />
		<result column="btnScript" property="btnScript" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, btnName, btnNo, btnIcon, menuNo, InitStatus, seqNo
	</sql>
	<sql id="Blob_Column_List">
		btnClass, btnScript
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from sys_button
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_button
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yunpos.model.SysButtonWithBLOBs" useGeneratedKeys="true" keyProperty="id">
		insert into sys_button (btnName, btnNo,
		btnIcon, menuNo, InitStatus,
		seqNo, btnClass, btnScript
		)
		values (#{btnName,jdbcType=VARCHAR},
		#{btnNo,jdbcType=INTEGER},
		#{btnIcon,jdbcType=VARCHAR}, #{menuNo,jdbcType=INTEGER}, #{initStatus,jdbcType=INTEGER},
		#{seqNo,jdbcType=INTEGER}, #{btnClass,jdbcType=LONGVARCHAR},
		#{btnScript,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.yunpos.model.SysButtonWithBLOBs">
		insert into sys_button
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="btnName != null">
				btnName,
			</if>
			<if test="btnNo != null">
				btnNo,
			</if>
			<if test="btnIcon != null">
				btnIcon,
			</if>
			<if test="menuNo != null">
				menuNo,
			</if>
			<if test="initStatus != null">
				InitStatus,
			</if>
			<if test="seqNo != null">
				seqNo,
			</if>
			<if test="btnClass != null">
				btnClass,
			</if>
			<if test="btnScript != null">
				btnScript,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="btnName != null">
				#{btnName,jdbcType=VARCHAR},
			</if>
			<if test="btnNo != null">
				#{btnNo,jdbcType=INTEGER},
			</if>
			<if test="btnIcon != null">
				#{btnIcon,jdbcType=VARCHAR},
			</if>
			<if test="menuNo != null">
				#{menuNo,jdbcType=INTEGER},
			</if>
			<if test="initStatus != null">
				#{initStatus,jdbcType=INTEGER},
			</if>
			<if test="seqNo != null">
				#{seqNo,jdbcType=INTEGER},
			</if>
			<if test="btnClass != null">
				#{btnClass,jdbcType=LONGVARCHAR},
			</if>
			<if test="btnScript != null">
				#{btnScript,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.SysButtonWithBLOBs">
		update sys_button
		<set>
			<if test="btnName != null">
				btnName = #{btnName,jdbcType=VARCHAR},
			</if>
			<if test="btnNo != null">
				btnNo = #{btnNo,jdbcType=INTEGER},
			</if>
			<if test="btnIcon != null">
				btnIcon = #{btnIcon,jdbcType=VARCHAR},
			</if>
			<if test="menuNo != null">
				menuNo = #{menuNo,jdbcType=INTEGER},
			</if>
			<if test="initStatus != null">
				InitStatus = #{initStatus,jdbcType=INTEGER},
			</if>
			<if test="seqNo != null">
				seqNo = #{seqNo,jdbcType=INTEGER},
			</if>
			<if test="btnClass != null">
				btnClass = #{btnClass,jdbcType=LONGVARCHAR},
			</if>
			<if test="btnScript != null">
				btnScript = #{btnScript,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yunpos.model.SysButtonWithBLOBs">
		update sys_button
		set btnName = #{btnName,jdbcType=VARCHAR},
		btnNo = #{btnNo,jdbcType=INTEGER},
		btnIcon = #{btnIcon,jdbcType=VARCHAR},
		menuNo = #{menuNo,jdbcType=INTEGER},
		InitStatus = #{initStatus,jdbcType=INTEGER},
		seqNo = #{seqNo,jdbcType=INTEGER},
		btnClass = #{btnClass,jdbcType=LONGVARCHAR},
		btnScript = #{btnScript,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yunpos.model.SysButton">
		update sys_button
		set btnName = #{btnName,jdbcType=VARCHAR},
		btnNo = #{btnNo,jdbcType=INTEGER},
		btnIcon = #{btnIcon,jdbcType=VARCHAR},
		menuNo = #{menuNo,jdbcType=INTEGER},
		InitStatus = #{initStatus,jdbcType=INTEGER},
		seqNo = #{seqNo,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- ##################################### -->
	<delete id="batchDeleteByIds">
		delete from sys_button where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>