<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.SysFansMapper" >
  <resultMap id="BaseResultMap" type="com.yunpos.model.SysFans" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subscribeFlag" property="subscribeFlag" jdbcType="TINYINT" />
    <result column="serialNo" property="serialNo" jdbcType="VARCHAR" />
    <result column="wxalipayId" property="wxalipayId" jdbcType="VARCHAR" />
    <result column="sourceType" property="sourceType" jdbcType="TINYINT" />
    <result column="openId" property="openId" jdbcType="VARCHAR" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="trueName" property="trueName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="prov" property="prov" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="zip" property="zip" jdbcType="VARCHAR" />
    <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
    <result column="subscribeTime" property="subscribeTime" jdbcType="TIMESTAMP" />
    <result column="unSubscribeTime" property="unSubscribeTime" jdbcType="TIMESTAMP" />
    <result column="appid_userId" property="appid_userId" jdbcType="VARCHAR" />
    <result column="unionid" property="unionid" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="userType" property="userType" jdbcType="TINYINT" />
    <result column="userStatus" property="userStatus" jdbcType="CHAR" />
    <result column="firmName" property="firmName" jdbcType="VARCHAR" />
    <result column="certType" property="certType" jdbcType="TINYINT" />
    <result column="certNo" property="certNo" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="is_certified" property="is_certified" jdbcType="CHAR" />
    <result column="is_id_auth" property="is_id_auth" jdbcType="CHAR" />
    <result column="is_mobile_auth" property="is_mobile_auth" jdbcType="CHAR" />
    <result column="memberCardTel" property="memberCardTel" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="REAL" />
    <result column="score" property="score" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subscribeFlag, serialNo, wxalipayId, sourceType, openId, nickName, trueName, 
    sex, prov, city, area, address, zip, headimgurl, subscribeTime, unSubscribeTime, 
    appid_userId, unionid, remark, userType, userStatus, firmName, certType, certNo, 
    phone, mobile, is_certified, is_id_auth, is_mobile_auth, memberCardTel, balance, 
    score
  </sql>
  
  <sql id="Select_Parm_Column_List">
	   <if test="subscribeFlag != null" >
       and subscribeFlag = #{subscribeFlag,jdbcType=TINYINT}
      </if>
      <if test="serialNo != null" >
       and serialNo = #{serialNo,jdbcType=VARCHAR}
      </if>
      <if test="wxalipayId != null" >
       and wxalipayId = #{wxalipayId,jdbcType=VARCHAR}
      </if>
      <if test="sourceType != null" >
       and sourceType = #{sourceType,jdbcType=TINYINT}
      </if>
      <if test="openId != null" >
       and openId = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="nickName != null" >
       and nickName = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="trueName != null" >
       and trueName = #{trueName,jdbcType=VARCHAR}
      </if>
      <if test="sex != null" >
       and sex = #{sex,jdbcType=TINYINT}
      </if>
      <if test="prov != null" >
       and prov = #{prov,jdbcType=VARCHAR}
      </if>
      <if test="city != null" >
       and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="area != null" >
       and area = #{area,jdbcType=VARCHAR}
      </if>
      <if test="address != null" >
       and address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="zip != null" >
       and zip = #{zip,jdbcType=VARCHAR}
      </if>
      <if test="headimgurl != null" >
       and headimgurl = #{headimgurl,jdbcType=VARCHAR}
      </if>
      <if test="subscribeTime != null" >
       and subscribeTime = #{subscribeTime,jdbcType=TIMESTAMP}
      </if>
      <if test="unSubscribeTime != null" >
      and unSubscribeTime = #{unSubscribeTime,jdbcType=TIMESTAMP}
      </if>
      <if test="appid_userId != null" >
       and appid_userId = #{appid_userId,jdbcType=VARCHAR}
      </if>
      <if test="unionid != null" >
       and unionid = #{unionid,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
       and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="userType != null" >
       and userType = #{userType,jdbcType=TINYINT}
      </if>
      <if test="userStatus != null" >
       and userStatus = #{userStatus,jdbcType=CHAR}
      </if>
      <if test="firmName != null" >
       and firmName = #{firmName,jdbcType=VARCHAR}
      </if>
      <if test="certType != null" >
       and certType = #{certType,jdbcType=TINYINT}
      </if>
      <if test="certNo != null" >
       and certNo = #{certNo,jdbcType=VARCHAR}
      </if>
      <if test="phone != null" >
       and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null" >
       and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="is_certified != null" >
       and is_certified = #{is_certified,jdbcType=CHAR}
      </if>
      <if test="is_id_auth != null" >
       and is_id_auth = #{is_id_auth,jdbcType=CHAR}
      </if>
      <if test="is_mobile_auth != null" >
       and is_mobile_auth = #{is_mobile_auth,jdbcType=CHAR}
      </if>
      <if test="memberCardTel != null" >
       and memberCardTel = #{memberCardTel,jdbcType=VARCHAR}
      </if>
      <if test="balance != null" >
       and balance = #{balance,jdbcType=REAL}
      </if>
      <if test="score != null" >
       and score = #{score,jdbcType=INTEGER}
      </if>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_fans
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_fans
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunpos.model.SysFans" >
    insert into sys_fans (id, subscribeFlag, serialNo, 
      wxalipayId, sourceType, openId, 
      nickName, trueName, sex, 
      prov, city, area, address, 
      zip, headimgurl, subscribeTime, 
      unSubscribeTime, appid_userId, unionid, 
      remark, userType, userStatus, 
      firmName, certType, certNo, 
      phone, mobile, is_certified, 
      is_id_auth, is_mobile_auth,memberCardTel,
      balance, score)
    values (#{id,jdbcType=INTEGER}, #{subscribeFlag,jdbcType=TINYINT}, #{serialNo,jdbcType=VARCHAR}, 
      #{wxalipayId,jdbcType=VARCHAR}, #{sourceType,jdbcType=TINYINT}, #{openId,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, 
      #{prov,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{zip,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, #{subscribeTime,jdbcType=TIMESTAMP}, 
      #{unSubscribeTime,jdbcType=TIMESTAMP}, #{appid_userId,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{userType,jdbcType=TINYINT}, #{userStatus,jdbcType=CHAR}, 
      #{firmName,jdbcType=VARCHAR}, #{certType,jdbcType=TINYINT}, #{certNo,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{is_certified,jdbcType=CHAR}, 
      #{is_id_auth,jdbcType=CHAR}, #{is_mobile_auth,jdbcType=CHAR},#{memberCardTel,jdbcType=VARCHAR},
      #{balance,jdbcType=REAL}, #{score,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yunpos.model.SysFans" >
    insert into sys_fans
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subscribeFlag != null" >
        subscribeFlag,
      </if>
      <if test="serialNo != null" >
        serialNo,
      </if>
      <if test="wxalipayId != null" >
        wxalipayId,
      </if>
      <if test="sourceType != null" >
        sourceType,
      </if>
      <if test="openId != null" >
        openId,
      </if>
      <if test="nickName != null" >
        nickName,
      </if>
      <if test="trueName != null" >
        trueName,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="prov != null" >
        prov,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="zip != null" >
        zip,
      </if>
      <if test="headimgurl != null" >
        headimgurl,
      </if>
      <if test="subscribeTime != null" >
        subscribeTime,
      </if>
      <if test="unSubscribeTime != null" >
        unSubscribeTime,
      </if>
      <if test="appid_userId != null" >
        appid_userId,
      </if>
      <if test="unionid != null" >
        unionid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="userType != null" >
        userType,
      </if>
      <if test="userStatus != null" >
        userStatus,
      </if>
      <if test="firmName != null" >
        firmName,
      </if>
      <if test="certType != null" >
        certType,
      </if>
      <if test="certNo != null" >
        certNo,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="is_certified != null" >
        is_certified,
      </if>
      <if test="is_id_auth != null" >
        is_id_auth,
      </if>
      <if test="is_mobile_auth != null" >
        is_mobile_auth,
      </if>
      <if test="memberCardTel != null" >
        memberCardTel,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subscribeFlag != null" >
        #{subscribeFlag,jdbcType=TINYINT},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="wxalipayId != null" >
        #{wxalipayId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="prov != null" >
        #{prov,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null" >
        #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unSubscribeTime != null" >
        #{unSubscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appid_userId != null" >
        #{appid_userId,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=CHAR},
      </if>
      <if test="firmName != null" >
        #{firmName,jdbcType=VARCHAR},
      </if>
      <if test="certType != null" >
        #{certType,jdbcType=TINYINT},
      </if>
      <if test="certNo != null" >
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="is_certified != null" >
        #{is_certified,jdbcType=CHAR},
      </if>
      <if test="is_id_auth != null" >
        #{is_id_auth,jdbcType=CHAR},
      </if>
      <if test="is_mobile_auth != null" >
        #{is_mobile_auth,jdbcType=CHAR},
      </if>
      <if test="memberCardTel != null" >
        #{memberCardTel,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=REAL},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.SysFans" >
    update sys_fans
    <set >
      <if test="subscribeFlag != null" >
        subscribeFlag = #{subscribeFlag,jdbcType=TINYINT},
      </if>
      <if test="serialNo != null" >
        serialNo = #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="wxalipayId != null" >
        wxalipayId = #{wxalipayId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        sourceType = #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="openId != null" >
        openId = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        trueName = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="prov != null" >
        prov = #{prov,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        zip = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null" >
        subscribeTime = #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unSubscribeTime != null" >
        unSubscribeTime = #{unSubscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appid_userId != null" >
        appid_userId = #{appid_userId,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        userType = #{userType,jdbcType=TINYINT},
      </if>
      <if test="userStatus != null" >
        userStatus = #{userStatus,jdbcType=CHAR},
      </if>
      <if test="firmName != null" >
        firmName = #{firmName,jdbcType=VARCHAR},
      </if>
      <if test="certType != null" >
        certType = #{certType,jdbcType=TINYINT},
      </if>
      <if test="certNo != null" >
        certNo = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="is_certified != null" >
        is_certified = #{is_certified,jdbcType=CHAR},
      </if>
      <if test="is_id_auth != null" >
        is_id_auth = #{is_id_auth,jdbcType=CHAR},
      </if>
      <if test="is_mobile_auth != null" >
        is_mobile_auth = #{is_mobile_auth,jdbcType=CHAR},
      </if>
      <if test="memberCardTel != null" >
        memberCardTel = #{memberCardTel,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=REAL},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunpos.model.SysFans" >
    update sys_fans
    set subscribeFlag = #{subscribeFlag,jdbcType=TINYINT},
      serialNo = #{serialNo,jdbcType=VARCHAR},
      wxalipayId = #{wxalipayId,jdbcType=VARCHAR},
      sourceType = #{sourceType,jdbcType=TINYINT},
      openId = #{openId,jdbcType=VARCHAR},
      nickName = #{nickName,jdbcType=VARCHAR},
      trueName = #{trueName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      prov = #{prov,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      zip = #{zip,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      subscribeTime = #{subscribeTime,jdbcType=TIMESTAMP},
      unSubscribeTime = #{unSubscribeTime,jdbcType=TIMESTAMP},
      appid_userId = #{appid_userId,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      userType = #{userType,jdbcType=TINYINT},
      userStatus = #{userStatus,jdbcType=CHAR},
      firmName = #{firmName,jdbcType=VARCHAR},
      certType = #{certType,jdbcType=TINYINT},
      certNo = #{certNo,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      is_certified = #{is_certified,jdbcType=CHAR},
      is_id_auth = #{is_id_auth,jdbcType=CHAR},
      is_mobile_auth = #{is_mobile_auth,jdbcType=CHAR},
      memberCardTel = #{memberCardTel,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=REAL},
      score = #{score,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="search" resultMap="BaseResultMap"
		parameterType="com.yunpos.utils.jqgrid.GridRequest">
		select
		<include refid="Base_Column_List" />
		from sys_fans
		<if test="searchValue != null">
			where 
			openId like  CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')  
		 	 or  nickName like  CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')  
		 	 or  mobile like  CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')  
		</if>
	</select>
   <select id="selectByParm" resultMap="BaseResultMap" parameterType="com.yunpos.model.SysFans" >
    select 
    <include refid="Base_Column_List" />
    from sys_fans
    where 1 = 1
	<include refid="Select_Parm_Column_List" />
      <if test="searchValue != null">
		and (openId like  CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')  
		  or  nickName like  CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')  
		  or  mobile like  CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')  
		)
	  </if>
	  ORDER BY  id
	   <if test="pageNumber != null">
		 limit #{start},  #{pageSize}
	  </if>
  </select>
  
  <select id="selectCountByParm" resultType="java.lang.Integer" parameterType="com.yunpos.model.SysFans" >
    select  count(*) from sys_fans
	where 1 = 1
 	<include refid="Select_Parm_Column_List" />
      <if test="searchValue != null">
		and (openId like  CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')  
		  or  nickName like  CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')  
		  or  mobile like  CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')  
		)
	  </if>
	  
  </select>
  
</mapper>