<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.SysOrgMapper" >
  <resultMap id="BaseResultMap" type="com.yunpos.model.SysOrg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="orgNo" property="orgNo" jdbcType="VARCHAR" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="orgParentId" property="orgParentId" jdbcType="INTEGER" />
    <result column="orgParentName" property="orgParentName" jdbcType="VARCHAR" />
    <result column="orgParentNo" property="orgParentNo" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="createUserId" property="createUserId" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modifyUserId" property="modifyUserId" jdbcType="INTEGER" />
    <result column="modifyDate" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sequence, orgNo, orgName, orgParentId, orgParentName, orgParentNo, level, createUserId, 
    createDate, modifyUserId, modifyDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_org
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_org
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunpos.model.SysOrg" useGeneratedKeys="true"  keyProperty="id">
    insert into sys_org (sequence, orgNo, 
      orgName, orgParentId, orgParentName, 
      orgParentNo, level, createUserId, 
      createDate, modifyUserId, modifyDate
      )
    values (#{sequence,jdbcType=INTEGER}, #{orgNo,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{orgParentId,jdbcType=INTEGER}, #{orgParentName,jdbcType=VARCHAR}, 
      #{orgParentNo,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=INTEGER}, #{modifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunpos.model.SysOrg" >
    insert into sys_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="orgNo != null" >
        orgNo,
      </if>
      <if test="orgName != null" >
        orgName,
      </if>
      <if test="orgParentId != null" >
        orgParentId,
      </if>
      <if test="orgParentName != null" >
        orgParentName,
      </if>
      <if test="orgParentNo != null" >
        orgParentNo,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="createUserId != null" >
        createUserId,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
      <if test="modifyUserId != null" >
        modifyUserId,
      </if>
      <if test="modifyDate != null" >
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="orgNo != null" >
        #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgParentId != null" >
        #{orgParentId,jdbcType=INTEGER},
      </if>
      <if test="orgParentName != null" >
        #{orgParentName,jdbcType=VARCHAR},
      </if>
      <if test="orgParentNo != null" >
        #{orgParentNo,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.SysOrg" >
    update sys_org
    <set >
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="orgNo != null" >
        orgNo = #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        orgName = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgParentId != null" >
        orgParentId = #{orgParentId,jdbcType=INTEGER},
      </if>
      <if test="orgParentName != null" >
        orgParentName = #{orgParentName,jdbcType=VARCHAR},
      </if>
      <if test="orgParentNo != null" >
        orgParentNo = #{orgParentNo,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        createUserId = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modifyUserId = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null" >
        modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunpos.model.SysOrg" >
    update sys_org
    set sequence = #{sequence,jdbcType=INTEGER},
      orgNo = #{orgNo,jdbcType=VARCHAR},
      orgName = #{orgName,jdbcType=VARCHAR},
      orgParentId = #{orgParentId,jdbcType=INTEGER},
      orgParentName = #{orgParentName,jdbcType=VARCHAR},
      orgParentNo = #{orgParentNo,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      createUserId = #{createUserId,jdbcType=INTEGER},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      modifyUserId = #{modifyUserId,jdbcType=INTEGER},
      modifyDate = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
	<!-- ##################################### -->
	<!-- useGeneratedKeys="true" keyProperty="id" -->
	<delete id="batchDeleteByIds">
		delete from sys_org where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<select id="findByCondition" resultMap="BaseResultMap"
		parameterType="com.yunpos.utils.jqgrid.GridRequest">
		select
		<include refid="Base_Column_List" />
		from sys_org
		<if test="searchValue != null">
			where 
			orgNo = #{searchValue,jdbcType=VARCHAR}
			or
			orgName = #{searchValue,jdbcType=VARCHAR}
		</if>

	</select>
	
	<select id="findMaxOrgNo" resultType="java.lang.String"
		parameterType="com.yunpos.model.SysOrg">
		select  orgNo
		from sys_org where  id  = (
		select max(id) from sys_org  where 1 = 1 
	  <if test="orgParentNo != null" >
        and orgParentNo = #{orgParentNo,jdbcType=VARCHAR}
      </if>
      <if test="orgParentId != null" >
        and orgParentId = #{orgParentId,jdbcType=INTEGER}
      </if>
       <if test="orgParentId == null" >
        and orgParentId is null
      </if>
		) 
		
	</select>
</mapper>