<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.SysOrderMapper" >
  <resultMap id="BaseResultMap" type="com.yunpos.model.SysOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderId" property="orderId" jdbcType="VARCHAR" />
    <result column="openId" property="openId" jdbcType="VARCHAR" />
    <result column="memberId" property="memberId" jdbcType="VARCHAR" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="sysMerchantId" property="sysMerchantId" jdbcType="INTEGER" />
    <result column="sysMerchantSerialNo" property="sysMerchantSerialNo" jdbcType="VARCHAR" />
    <result column="agentId" property="agentId" jdbcType="VARCHAR" />
    <result column="agentSerialNo" property="agentSerialNo" jdbcType="VARCHAR" />
    <result column="orgId" property="orgId" jdbcType="VARCHAR" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="createdAt" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updatedAt" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="trueName" property="trueName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="productList" property="productList" jdbcType="VARCHAR" />
    <result column="productPrice" property="productPrice" jdbcType="REAL" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="mailPrice" property="mailPrice" jdbcType="REAL" />
    <result column="couponPrice" property="couponPrice" jdbcType="REAL" />
    <result column="totalPrice" property="totalPrice" jdbcType="REAL" />
    <result column="groupon" property="groupon" jdbcType="BIT" />
    <result column="groupcode" property="groupcode" jdbcType="VARCHAR" />
    <result column="houseAddress" property="houseAddress" jdbcType="VARCHAR" />
    <result column="payTime" property="payTime" jdbcType="TIMESTAMP" />
    <result column="payMode" property="payMode" jdbcType="TINYINT" />
    <result column="payType" property="payType" jdbcType="TINYINT" />
    <result column="payStatus" property="payStatus" jdbcType="TINYINT" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="printStatus" property="printStatus" jdbcType="TINYINT" />
    <result column="handleStatus" property="handleStatus" jdbcType="TINYINT" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="shopId" property="shopId" jdbcType="VARCHAR" />
   <result column="sourceType" property="sourceType" jdbcType="VARCHAR" />
    <result column="merchantType" property="merchantType" jdbcType="TINYINT" />
     <result column="merchantName" property="merchantName" jdbcType="VARCHAR" />
   
  </resultMap>
  <sql id="Base_Column_List" >
     orderId, openId, memberId, nickName, sysMerchantId, sysMerchantSerialNo, agentId, 
	 orgId, orgName, createdAt, updatedAt, trueName, order1.tel, productList, 
    productPrice, total, mailPrice, couponPrice, totalPrice, groupon, groupcode, houseAddress, 
    payTime, payMode, payType, payStatus, score, printStatus, handleStatus, info, shopId,sourceType,
  </sql>
 
  
  <sql id="Select_Parm_Column_List">
		<if test="orderId != null" >
       and orderId = #{orderId,jdbcType=VARCHAR}
      </if>
      <if test="openId != null" >
       and openId = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="memberId != null" >
       and memberId = #{memberId,jdbcType=VARCHAR}
      </if>
      <if test="nickName != null" >
       and nickName = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="sysMerchantId != null" >
       and sysMerchantId = #{sysMerchantId,jdbcType=VARCHAR}
      </if>
      <if test="sysMerchantSerialNo != null" >
       and sysMerchantSerialNo = #{sysMerchantSerialNo,jdbcType=VARCHAR}
      </if>
      <if test="agentId != null" >
       and agentId = #{agentId,jdbcType=VARCHAR}
      </if>
      <if test="agentSerialNo != null" >
       and agentSerialNo = #{agentSerialNo,jdbcType=VARCHAR}
      </if>
      <if test="orgId != null" >
       and orgId = #{orgId,jdbcType=VARCHAR}
      </if>
      <if test="orgName != null" >
       and orgName = #{orgName,jdbcType=VARCHAR}
      </if>
      <if test="createdAt != null" >
       and createdAt = #{createdAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updatedAt != null" >
       and updatedAt = #{updatedAt,jdbcType=TIMESTAMP}
      </if>
      <if test="trueName != null" >
       and trueName = #{trueName,jdbcType=VARCHAR}
      </if>
      <if test="tel != null" >
       and tel = #{tel,jdbcType=VARCHAR}
      </if>
      <if test="productList != null" >
       and productList = #{productList,jdbcType=VARCHAR}
      </if>
      <if test="productPrice != null" >
       and productPrice = #{productPrice,jdbcType=REAL}
      </if>
      <if test="total != null" >
       and total = #{total,jdbcType=INTEGER}
      </if>
      <if test="mailPrice != null" >
       and mailPrice = #{mailPrice,jdbcType=REAL}
      </if>
      <if test="couponPrice != null" >
       and couponPrice = #{couponPrice,jdbcType=REAL}
      </if>
      <if test="totalPrice != null" >
       and totalPrice = #{totalPrice,jdbcType=REAL}
      </if>
      <if test="groupon != null" >
       and groupon = #{groupon,jdbcType=BIT}
      </if>
      <if test="groupcode != null" >
       and groupcode = #{groupcode,jdbcType=VARCHAR}
      </if>
      <if test="houseAddress != null" >
       and houseAddress = #{houseAddress,jdbcType=VARCHAR}
      </if>
      <if test="payTime != null" >
       and payTime = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payMode != null" >
       and payMode = #{payMode,jdbcType=TINYINT}
      </if>
      <if test="payType != null" >
       and payType = #{payType,jdbcType=TINYINT}
      </if>
      <if test="payStatus != null" >
       and payStatus = #{payStatus,jdbcType=TINYINT}
      </if>
      <if test="score != null" >
       and score = #{score,jdbcType=INTEGER}
      </if>
      <if test="printStatus != null" >
       and printStatus = #{printStatus,jdbcType=TINYINT}
      </if>
      <if test="handleStatus != null" >
       and handleStatus = #{handleStatus,jdbcType=TINYINT}
      </if>
      <if test="info != null" >
       and info = #{info,jdbcType=VARCHAR}
      </if>
      <if test="shopId != null" >
       and shopId = #{shopId,jdbcType=VARCHAR}
      </if>
      <if test="sourceType != null" >
       and sourceType = #{sourceType,jdbcType=VARCHAR}
      </if>
       <if test="merchantType != null" >
       and merchantType = #{merchantType,jdbcType=VARCHAR}
      </if>
	</sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select order1.id, order1.agentSerialNo,  merc.merchantType , merc.merchantName 
   <!--  merc.merchantType as merchantType, merc.merchantName as merchantName, -->
    <include refid="Base_Column_List" />
   
    from sys_order order1 ,sys_merchant merc 
    where order1.sysMerchantId = merc.id   
    and order1.id  = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunpos.model.SysOrder" 
  useGeneratedKeys="true" keyProperty="id">
    insert into sys_order (orderId, openId, 
      memberId, nickName, sysMerchantId, 
      sysMerchantSerialNo, agentId, agentSerialNo, 
      orgId, orgName, createdAt, 
      updatedAt, trueName, tel, 
      productList, productPrice, total, 
      mailPrice, couponPrice, totalPrice, 
      groupon, groupcode, houseAddress, 
      payTime, payMode, payType, 
      payStatus, score, printStatus, 
      handleStatus, info, shopId,sourceType,merchantType
      )
    values (#{orderId,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{memberId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{sysMerchantId,jdbcType=VARCHAR}, 
      #{sysMerchantSerialNo,jdbcType=VARCHAR}, #{agentId,jdbcType=VARCHAR}, #{agentSerialNo,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{trueName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{productList,jdbcType=VARCHAR}, #{productPrice,jdbcType=REAL}, #{total,jdbcType=INTEGER}, 
      #{mailPrice,jdbcType=REAL}, #{couponPrice,jdbcType=REAL}, #{totalPrice,jdbcType=REAL}, 
      #{groupon,jdbcType=BIT}, #{groupcode,jdbcType=VARCHAR}, #{houseAddress,jdbcType=VARCHAR}, 
      #{payTime,jdbcType=TIMESTAMP}, #{payMode,jdbcType=TINYINT}, #{payType,jdbcType=TINYINT}, 
      #{payStatus,jdbcType=TINYINT}, #{score,jdbcType=INTEGER}, #{printStatus,jdbcType=TINYINT}, 
      #{handleStatus,jdbcType=TINYINT}, #{info,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR},#{sourceType,jdbcType=VARCHAR},#{merchantType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunpos.model.SysOrder" >
    insert into sys_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="openId != null" >
        openId,
      </if>
      <if test="memberId != null" >
        memberId,
      </if>
      <if test="nickName != null" >
        nickName,
      </if>
      <if test="sysMerchantId != null" >
        sysMerchantId,
      </if>
      <if test="sysMerchantSerialNo != null" >
        sysMerchantSerialNo,
      </if>
      <if test="agentId != null" >
        agentId,
      </if>
      <if test="agentSerialNo != null" >
        agentSerialNo,
      </if>
      <if test="orgId != null" >
        orgId,
      </if>
      <if test="orgName != null" >
        orgName,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="trueName != null" >
        trueName,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="productList != null" >
        productList,
      </if>
      <if test="productPrice != null" >
        productPrice,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="mailPrice != null" >
        mailPrice,
      </if>
      <if test="couponPrice != null" >
        couponPrice,
      </if>
      <if test="totalPrice != null" >
        totalPrice,
      </if>
      <if test="groupon != null" >
        groupon,
      </if>
      <if test="groupcode != null" >
        groupcode,
      </if>
      <if test="houseAddress != null" >
        houseAddress,
      </if>
      <if test="payTime != null" >
        payTime,
      </if>
      <if test="payMode != null" >
        payMode,
      </if>
      <if test="payType != null" >
        payType,
      </if>
      <if test="payStatus != null" >
        payStatus,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="printStatus != null" >
        printStatus,
      </if>
      <if test="handleStatus != null" >
        handleStatus,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="shopId != null" >
        shopId,
      </if>
      <if test="sourceType != null" >
        sourceType,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sysMerchantId != null" >
        #{sysMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="sysMerchantSerialNo != null" >
        #{sysMerchantSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentSerialNo != null" >
        #{agentSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="trueName != null" >
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="productList != null" >
        #{productList,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=REAL},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="mailPrice != null" >
        #{mailPrice,jdbcType=REAL},
      </if>
      <if test="couponPrice != null" >
        #{couponPrice,jdbcType=REAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=REAL},
      </if>
      <if test="groupon != null" >
        #{groupon,jdbcType=BIT},
      </if>
      <if test="groupcode != null" >
        #{groupcode,jdbcType=VARCHAR},
      </if>
      <if test="houseAddress != null" >
        #{houseAddress,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payMode != null" >
        #{payMode,jdbcType=TINYINT},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="printStatus != null" >
        #{printStatus,jdbcType=TINYINT},
      </if>
      <if test="handleStatus != null" >
        #{handleStatus,jdbcType=TINYINT},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
       <if test="sourceType != null" >
        #{sourceType,jdbcType=VARCHAR},
      </if>
       <if test="merchantType != null" >
        #{merchantType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.SysOrder" >
    update sys_order
    <set >
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        openId = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        memberId = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sysMerchantId != null" >
        sysMerchantId = #{sysMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="sysMerchantSerialNo != null" >
        sysMerchantSerialNo = #{sysMerchantSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        agentId = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="agentSerialNo != null" >
        agentSerialNo = #{agentSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        orgId = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        orgName = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        createdAt = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="trueName != null" >
        trueName = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="productList != null" >
        productList = #{productList,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        productPrice = #{productPrice,jdbcType=REAL},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="mailPrice != null" >
        mailPrice = #{mailPrice,jdbcType=REAL},
      </if>
      <if test="couponPrice != null" >
        couponPrice = #{couponPrice,jdbcType=REAL},
      </if>
      <if test="totalPrice != null" >
        totalPrice = #{totalPrice,jdbcType=REAL},
      </if>
      <if test="groupon != null" >
        groupon = #{groupon,jdbcType=BIT},
      </if>
      <if test="groupcode != null" >
        groupcode = #{groupcode,jdbcType=VARCHAR},
      </if>
      <if test="houseAddress != null" >
        houseAddress = #{houseAddress,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        payTime = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payMode != null" >
        payMode = #{payMode,jdbcType=TINYINT},
      </if>
      <if test="payType != null" >
        payType = #{payType,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        payStatus = #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="printStatus != null" >
        printStatus = #{printStatus,jdbcType=TINYINT},
      </if>
      <if test="handleStatus != null" >
        handleStatus = #{handleStatus,jdbcType=TINYINT},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shopId = #{shopId,jdbcType=VARCHAR},
      </if>
       <if test="sourceType != null" >
        sourceType = #{sourceType,jdbcType=VARCHAR},
      </if>
       <if test="merchantType != null" >
        merchantType = #{merchantType,jdbcType=VARCHAR},
      </if>
      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunpos.model.SysOrder" >
    update sys_order
    set orderId = #{orderId,jdbcType=VARCHAR},
      openId = #{openId,jdbcType=VARCHAR},
      memberId = #{memberId,jdbcType=VARCHAR},
      nickName = #{nickName,jdbcType=VARCHAR},
      sysMerchantId = #{sysMerchantId,jdbcType=VARCHAR},
      sysMerchantSerialNo = #{sysMerchantSerialNo,jdbcType=VARCHAR},
      agentId = #{agentId,jdbcType=VARCHAR},
      agentSerialNo = #{agentSerialNo,jdbcType=VARCHAR},
      orgId = #{orgId,jdbcType=VARCHAR},
      orgName = #{orgName,jdbcType=VARCHAR},
      createdAt = #{createdAt,jdbcType=TIMESTAMP},
      updatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      trueName = #{trueName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      productList = #{productList,jdbcType=VARCHAR},
      productPrice = #{productPrice,jdbcType=REAL},
      total = #{total,jdbcType=INTEGER},
      mailPrice = #{mailPrice,jdbcType=REAL},
      couponPrice = #{couponPrice,jdbcType=REAL},
      totalPrice = #{totalPrice,jdbcType=REAL},
      groupon = #{groupon,jdbcType=BIT},
      groupcode = #{groupcode,jdbcType=VARCHAR},
      houseAddress = #{houseAddress,jdbcType=VARCHAR},
      payTime = #{payTime,jdbcType=TIMESTAMP},
      payMode = #{payMode,jdbcType=TINYINT},
      payType = #{payType,jdbcType=TINYINT},
      payStatus = #{payStatus,jdbcType=TINYINT},
      score = #{score,jdbcType=INTEGER},
      printStatus = #{printStatus,jdbcType=TINYINT},
      handleStatus = #{handleStatus,jdbcType=TINYINT},
      info = #{info,jdbcType=VARCHAR},
      shopId = #{shopId,jdbcType=VARCHAR}
      sourceType = #{sourceType,jdbcType=VARCHAR}
      merchantType = #{ merchantType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  	<select id="selectByParm" resultMap="BaseResultMap"
		parameterType="com.yunpos.model.SysOrder">
		select order1.id, order1.agentSerialNo,
		<include refid="Base_Column_List" />
	
  merc.merchantType, merc.merchantName 
    from sys_order order1 ,sys_merchant merc 
    where order1.sysMerchantId = merc.id   
   
		<include refid="Select_Parm_Column_List" />

		<if test="searchValue != null">
			and (orderId like
			CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
			or sysMerchantSerialNo like
			CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
			or agentSerialNo like
			CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
			)
		</if>
		ORDER BY id
		<if test="pageNumber != null  and  pageNumber &gt; 0">
			limit #{start}, #{pageSize}
		</if>
	</select>

	<select id="selectCountByParm" resultType="java.lang.Integer"
		parameterType="com.yunpos.model.SysOrder">
		select count(*) from sys_order
		where 1 = 1
		<include refid="Select_Parm_Column_List" />
		<if test="searchValue != null">
			and (orderId like
			CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
			or sysMerchantSerialNo like
			CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
			or agentSerialNo like
			CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
			)
		</if>

	</select>
  
</mapper>