<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yunpos.persistence.dao.SysTransactionMapper">
	<resultMap id="BaseResultMap" type="com.yunpos.model.SysTransaction">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="channel" property="channel" jdbcType="INTEGER" />
		<result column="subChannel" property="subChannel" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="merchantName" property="merchantName" jdbcType="VARCHAR" />
		<result column="serialNo" property="serialNo" jdbcType="VARCHAR" />
		<result column="agentSerialNo" property="agentSerialNo"
			jdbcType="VARCHAR" />
		<result column="terminalNum" property="terminalNum" jdbcType="VARCHAR" />
		<result column="transCardNum" property="transCardNum" jdbcType="VARCHAR" />
		<result column="transNum" property="transNum" jdbcType="VARCHAR" />
		<result column="transTime" property="transTime" jdbcType="TIMESTAMP" />
		<result column="transPrice" property="transPrice" jdbcType="REAL" />
		<result column="totalPrice" property="totalPrice" jdbcType="REAL" />
		<result column="scanType" property="scanType" jdbcType="INTEGER" />
		<result column="couponCode" property="couponCode" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="transType" property="transType" jdbcType="INTEGER" />
		<result column="orderId" property="orderId" jdbcType="VARCHAR" />
		<result column="info" property="info" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, channel, subChannel, title, merchantName, serialNo,
		agentSerialNo,
		terminalNum,
		transCardNum, transNum, transTime,
		transPrice, totalPrice, scanType, couponCode,
		status, transType,
		orderId, info
	</sql>
	
	<sql id="Select_Parm_Column_List">
		<if test="channel != null">
			and channel = #{channel,jdbcType=INTEGER}
		</if>
		<if test="subChannel != null">
			and subChannel = #{subChannel,jdbcType=INTEGER}
		</if>
		<if test="title != null">
			and title = #{title,jdbcType=VARCHAR}
		</if>
		<if test="merchantName != null">
			and merchantName = #{merchantName,jdbcType=VARCHAR}
		</if>
		<if test="serialNo != null">
			and serialNo = #{serialNo,jdbcType=VARCHAR}
		</if>
		<if test="agentSerialNo != null">
			and agentSerialNo = #{agentSerialNo,jdbcType=VARCHAR}
		</if>
		<if test="terminalNum != null">
			and terminalNum = #{terminalNum,jdbcType=VARCHAR}
		</if>
		<if test="transCardNum != null">
			and transCardNum = #{transCardNum,jdbcType=VARCHAR}
		</if>
		<if test="transNum != null">
			and transNum = #{transNum,jdbcType=VARCHAR}
		</if>
		<if test="transTime != null">
			and transTime = #{transTime,jdbcType=TIMESTAMP}
		</if>
		<if test="transPrice != null">
			and transPrice = #{transPrice,jdbcType=REAL}
		</if>
		<if test="totalPrice != null">
			and totalPrice = #{totalPrice,jdbcType=REAL}
		</if>
		<if test="scanType != null">
			and scanType = #{scanType,jdbcType=INTEGER}
		</if>
		<if test="couponCode != null">
			and couponCode = #{couponCode,jdbcType=VARCHAR}
		</if>
		<if test="status != null">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="transType != null">
			and transType = #{transType,jdbcType=INTEGER}
		</if>
		<if test="orderId != null">
			and orderId = #{orderId,jdbcType=VARCHAR}
		</if>
		<if test="info != null">
			and info = #{info,jdbcType=VARCHAR}
		</if>
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_transaction
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		sys_transaction
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yunpos.model.SysTransaction"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_transaction (
		channel, subChannel,
		title, merchantName, serialNo,
		agentSerialNo,
		terminalNum, transCardNum,
		transNum, transTime, transPrice,
		totalPrice,
		scanType, couponCode,
		status, transType, orderId,
		info)
		values
		(#{channel,jdbcType=INTEGER}, #{subChannel,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR},
		#{serialNo,jdbcType=VARCHAR},
		#{agentSerialNo,jdbcType=VARCHAR},
		#{terminalNum,jdbcType=VARCHAR}, #{transCardNum,jdbcType=VARCHAR},
		#{transNum,jdbcType=VARCHAR}, #{transTime,jdbcType=TIMESTAMP},
		#{transPrice,jdbcType=REAL},
		#{totalPrice,jdbcType=REAL},
		#{scanType,jdbcType=INTEGER}, #{couponCode,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}, #{transType,jdbcType=INTEGER},
		#{orderId,jdbcType=VARCHAR},
		#{info,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.yunpos.model.SysTransaction">
		insert into sys_transaction
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="channel != null">
				channel,
			</if>
			<if test="subChannel != null">
				subChannel,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="merchantName != null">
				merchantName,
			</if>
			<if test="serialNo != null">
				serialNo,
			</if>
			<if test="agentSerialNo != null">
				agentSerialNo,
			</if>
			<if test="terminalNum != null">
				terminalNum,
			</if>
			<if test="transCardNum != null">
				transCardNum,
			</if>
			<if test="transNum != null">
				transNum,
			</if>
			<if test="transTime != null">
				transTime,
			</if>
			<if test="transPrice != null">
				transPrice,
			</if>
			<if test="totalPrice != null">
				totalPrice,
			</if>
			<if test="scanType != null">
				scanType,
			</if>
			<if test="couponCode != null">
				couponCode,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="transType != null">
				transType,
			</if>
			<if test="orderId != null">
				orderId,
			</if>
			<if test="info != null">
				info,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="channel != null">
				#{channel,jdbcType=INTEGER},
			</if>
			<if test="subChannel != null">
				#{subChannel,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="merchantName != null">
				#{merchantName,jdbcType=VARCHAR},
			</if>
			<if test="serialNo != null">
				#{serialNo,jdbcType=VARCHAR},
			</if>
			<if test="agentSerialNo != null">
				#{agentSerialNo,jdbcType=VARCHAR},
			</if>
			<if test="terminalNum != null">
				#{terminalNum,jdbcType=VARCHAR},
			</if>
			<if test="transCardNum != null">
				#{transCardNum,jdbcType=VARCHAR},
			</if>
			<if test="transNum != null">
				#{transNum,jdbcType=VARCHAR},
			</if>
			<if test="transTime != null">
				#{transTime,jdbcType=TIMESTAMP},
			</if>
			<if test="transPrice != null">
				#{transPrice,jdbcType=REAL},
			</if>
			<if test="totalPrice != null">
				#{totalPrice,jdbcType=REAL},
			</if>
			<if test="scanType != null">
				#{scanType,jdbcType=INTEGER},
			</if>
			<if test="couponCode != null">
				#{couponCode,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="transType != null">
				#{transType,jdbcType=INTEGER},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=VARCHAR},
			</if>
			<if test="info != null">
				#{info,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.SysTransaction">
		update sys_transaction
		<set>
			<if test="channel != null">
				channel = #{channel,jdbcType=INTEGER},
			</if>
			<if test="subChannel != null">
				subChannel = #{subChannel,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="merchantName != null">
				merchantName = #{merchantName,jdbcType=VARCHAR},
			</if>
			<if test="serialNo != null">
				serialNo = #{serialNo,jdbcType=VARCHAR},
			</if>
			<if test="agentSerialNo != null">
				agentSerialNo = #{agentSerialNo,jdbcType=VARCHAR},
			</if>
			<if test="terminalNum != null">
				terminalNum = #{terminalNum,jdbcType=VARCHAR},
			</if>
			<if test="transCardNum != null">
				transCardNum = #{transCardNum,jdbcType=VARCHAR},
			</if>
			<if test="transNum != null">
				transNum = #{transNum,jdbcType=VARCHAR},
			</if>
			<if test="transTime != null">
				transTime = #{transTime,jdbcType=TIMESTAMP},
			</if>
			<if test="transPrice != null">
				transPrice = #{transPrice,jdbcType=REAL},
			</if>
			<if test="totalPrice != null">
				totalPrice = #{totalPrice,jdbcType=REAL},
			</if>
			<if test="scanType != null">
				scanType = #{scanType,jdbcType=INTEGER},
			</if>
			<if test="couponCode != null">
				couponCode = #{couponCode,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="transType != null">
				transType = #{transType,jdbcType=INTEGER},
			</if>
			<if test="orderId != null">
				orderId = #{orderId,jdbcType=VARCHAR},
			</if>
			<if test="info != null">
				info = #{info,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yunpos.model.SysTransaction">
		update
		sys_transaction
		set channel = #{channel,jdbcType=INTEGER},
		subChannel =
		#{subChannel,jdbcType=INTEGER},
		title = #{title,jdbcType=VARCHAR},
		merchantName = #{merchantName,jdbcType=VARCHAR},
		serialNo =
		#{serialNo,jdbcType=VARCHAR},
		agentSerialNo =
		#{agentSerialNo,jdbcType=VARCHAR},
		terminalNum =
		#{terminalNum,jdbcType=VARCHAR},
		transCardNum =
		#{transCardNum,jdbcType=VARCHAR},
		transNum =
		#{transNum,jdbcType=VARCHAR},
		transTime =
		#{transTime,jdbcType=TIMESTAMP},
		transPrice =
		#{transPrice,jdbcType=REAL},
		totalPrice = #{totalPrice,jdbcType=REAL},
		scanType = #{scanType,jdbcType=INTEGER},
		couponCode =
		#{couponCode,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		transType = #{transType,jdbcType=INTEGER},
		orderId =
		#{orderId,jdbcType=VARCHAR},
		info = #{info,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<!-- ################################################### -->
	<select id="findByCondition" resultMap="BaseResultMap"
		parameterType="com.yunpos.model.SearchRequest">
		select
		<include refid="Base_Column_List" />
		from sys_transaction
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="status!=null">
				status = #{status,jdbcType=INTEGER}
			</if>
			<if test="startTransTime!=null and startTransTime!=''">
				<![CDATA[and DATE_FORMAT(transTime, '%Y-%m-%d') >=  #{startTransTime}]]>
			</if>
			<if test="endTransTime!=null and endTransTime!=''">
				<![CDATA[and DATE_FORMAT(transTime, '%Y-%m-%d') <=  #{endTransTime}]]>
			</if>
			<if test="channel!=null">
				and channel = #{channel,jdbcType=INTEGER}
			</if>

		</trim>


	</select>
	
	<select id="selectByParm" resultMap="BaseResultMap" parameterType="com.yunpos.model.SysTransaction" >
    select 
    <include refid="Base_Column_List" />
	from sys_transaction
	where 1 = 1
	
	 <include refid="Select_Parm_Column_List" />
	
	<if test="searchValue != null">
		and (merchantName like CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
		or agentSerialNo like CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
		or terminalNum like CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
		or transCardNum like CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
		)
	</if>
		ORDER BY id
	  <if test="pageNumber != null">
		  limit #{start},  #{pageSize}
	  </if>
  </select>
  
  <select id="selectCountByParm" resultType="java.lang.Integer" parameterType="com.yunpos.model.SysTransaction" >
    select  count(*) from sys_transaction
	where 1 = 1
 	<include refid="Select_Parm_Column_List" />
	<if test="searchValue != null">
		and (merchantName like CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
		or agentSerialNo like CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
		or terminalNum like CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
		or transCardNum like CONCAT('%',#{searchValue,jdbcType=VARCHAR},'%')
		)
	</if>
	  
  </select>
  
</mapper>