<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.UserSessionMapper">
	<resultMap id="BaseResultMap" type="com.yunpos.model.UserSession">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sessionId" property="sessionId" jdbcType="VARCHAR" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="host" property="host" jdbcType="VARCHAR" />
		<result column="lastAccessTime" property="lastAccessTime"
			jdbcType="TIMESTAMP" />
		<result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
		<result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, sessionId, userName, host, lastAccessTime, startTime, endTime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_users_session
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_users_session
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yunpos.model.UserSession">
		insert into sys_users_session (id, sessionId, userName,
		host, lastAccessTime, startTime,
		endTime)
		values (#{id,jdbcType=INTEGER}, #{sessionId,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{host,jdbcType=VARCHAR}, #{lastAccessTime,jdbcType=TIMESTAMP},
		#{startTime,jdbcType=TIMESTAMP},
		#{endTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.yunpos.model.UserSession">
		insert into sys_users_session
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="sessionId != null">
				sessionId,
			</if>
			<if test="userName != null">
				userName,
			</if>
			<if test="host != null">
				host,
			</if>
			<if test="lastAccessTime != null">
				lastAccessTime,
			</if>
			<if test="startTime != null">
				startTime,
			</if>
			<if test="endTime != null">
				endTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="sessionId != null">
				#{sessionId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="host != null">
				#{host,jdbcType=VARCHAR},
			</if>
			<if test="lastAccessTime != null">
				#{lastAccessTime,jdbcType=TIMESTAMP},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.UserSession">
		update sys_users_session
		<set>
			<if test="sessionId != null">
				sessionId = #{sessionId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				userName = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="host != null">
				host = #{host,jdbcType=VARCHAR},
			</if>
			<if test="lastAccessTime != null">
				lastAccessTime = #{lastAccessTime,jdbcType=TIMESTAMP},
			</if>
			<if test="startTime != null">
				startTime = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				endTime = #{endTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yunpos.model.UserSession">
		update sys_users_session
		set sessionId = #{sessionId,jdbcType=VARCHAR},
		userName = #{userName,jdbcType=VARCHAR},
		host = #{host,jdbcType=VARCHAR},
		lastAccessTime = #{lastAccessTime,jdbcType=TIMESTAMP},
		startTime = #{startTime,jdbcType=TIMESTAMP},
		endTime = #{endTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>


	<!-- 用户自定义Mapper -->
	<update id="update" parameterType="com.yunpos.model.UserSession">
		update sys_users_session
		set sessionId = #{sessionId,jdbcType=VARCHAR},
		userName = #{userName,jdbcType=VARCHAR},
		host = #{host,jdbcType=VARCHAR},
		lastAccessTime = #{lastAccessTime,jdbcType=TIMESTAMP},
		startTime = #{startTime,jdbcType=TIMESTAMP},
		endTime = #{endTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>