<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpos.persistence.dao.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.yunpos.model.Users" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="inviter" property="inviter" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="mp" property="mp" jdbcType="VARCHAR" />
    <result column="smscount" property="smscount" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="lasttime" property="lasttime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="createip" property="createip" jdbcType="VARCHAR" />
    <result column="lastip" property="lastip" jdbcType="VARCHAR" />
    <result column="diynum" property="diynum" jdbcType="INTEGER" />
    <result column="activitynum" property="activitynum" jdbcType="INTEGER" />
    <result column="card_num" property="card_num" jdbcType="INTEGER" />
    <result column="card_create_status" property="card_create_status" jdbcType="BIT" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="moneybalance" property="moneybalance" jdbcType="INTEGER" />
    <result column="spend" property="spend" jdbcType="INTEGER" />
    <result column="viptime" property="viptime" jdbcType="VARCHAR" />
    <result column="connectnum" property="connectnum" jdbcType="INTEGER" />
    <result column="lastloginmonth" property="lastloginmonth" jdbcType="SMALLINT" />
    <result column="attachmentsize" property="attachmentsize" jdbcType="INTEGER" />
    <result column="wechat_card_num" property="wechat_card_num" jdbcType="INTEGER" />
    <result column="serviceUserNum" property="serviceUserNum" jdbcType="TINYINT" />
    <result column="invitecode" property="invitecode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="adminuserid" property="adminuserid" jdbcType="INTEGER" />
    <result column="isfuwuchuang" property="isfuwuchuang" jdbcType="BIT" />
    <result column="isshouyintai" property="isshouyintai" jdbcType="BIT" />
    <result column="user_logo_url" property="user_logo_url" jdbcType="VARCHAR" />
    <result column="user_company_name" property="user_company_name" jdbcType="VARCHAR" />
    <result column="user_flg" property="user_flg" jdbcType="BIT" />
    <result column="identity_card" property="identity_card" jdbcType="VARCHAR" />
    <result column="register_number" property="register_number" jdbcType="VARCHAR" />
    <result column="business_license" property="business_license" jdbcType="VARCHAR" />
    <result column="link_man" property="link_man" jdbcType="VARCHAR" />
    <result column="verify_reason" property="verify_reason" jdbcType="VARCHAR" />
    <result column="serial_no" property="serial_no" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, openid, inviter, gid, username, mp, smscount, password, email, createtime, lasttime, 
    status, createip, lastip, diynum, activitynum, card_num, card_create_status, money, 
    moneybalance, spend, viptime, connectnum, lastloginmonth, attachmentsize, wechat_card_num, 
    serviceUserNum, invitecode, remark, adminuserid, isfuwuchuang, isshouyintai, user_logo_url, 
    user_company_name, user_flg, identity_card, register_number, business_license, link_man, 
    verify_reason, serial_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pigcms_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pigcms_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunpos.model.Users" >
    insert into pigcms_users (id, openid, inviter, 
      gid, username, mp, 
      smscount, password, email, 
      createtime, lasttime, status, 
      createip, lastip, diynum, 
      activitynum, card_num, card_create_status, 
      money, moneybalance, spend, 
      viptime, connectnum, lastloginmonth, 
      attachmentsize, wechat_card_num, serviceUserNum, 
      invitecode, remark, adminuserid, 
      isfuwuchuang, isshouyintai, user_logo_url, 
      user_company_name, user_flg, identity_card, 
      register_number, business_license, link_man, 
      verify_reason, serial_no)
    values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{inviter,jdbcType=INTEGER}, 
      #{gid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{mp,jdbcType=VARCHAR}, 
      #{smscount,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{lasttime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createip,jdbcType=VARCHAR}, #{lastip,jdbcType=VARCHAR}, #{diynum,jdbcType=INTEGER}, 
      #{activitynum,jdbcType=INTEGER}, #{card_num,jdbcType=INTEGER}, #{card_create_status,jdbcType=BIT}, 
      #{money,jdbcType=INTEGER}, #{moneybalance,jdbcType=INTEGER}, #{spend,jdbcType=INTEGER}, 
      #{viptime,jdbcType=VARCHAR}, #{connectnum,jdbcType=INTEGER}, #{lastloginmonth,jdbcType=SMALLINT}, 
      #{attachmentsize,jdbcType=INTEGER}, #{wechat_card_num,jdbcType=INTEGER}, #{serviceUserNum,jdbcType=TINYINT}, 
      #{invitecode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{adminuserid,jdbcType=INTEGER}, 
      #{isfuwuchuang,jdbcType=BIT}, #{isshouyintai,jdbcType=BIT}, #{user_logo_url,jdbcType=VARCHAR}, 
      #{user_company_name,jdbcType=VARCHAR}, #{user_flg,jdbcType=BIT}, #{identity_card,jdbcType=VARCHAR}, 
      #{register_number,jdbcType=VARCHAR}, #{business_license,jdbcType=VARCHAR}, #{link_man,jdbcType=VARCHAR}, 
      #{verify_reason,jdbcType=VARCHAR}, #{serial_no,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunpos.model.Users" >
    insert into pigcms_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="inviter != null" >
        inviter,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="mp != null" >
        mp,
      </if>
      <if test="smscount != null" >
        smscount,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="lasttime != null" >
        lasttime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createip != null" >
        createip,
      </if>
      <if test="lastip != null" >
        lastip,
      </if>
      <if test="diynum != null" >
        diynum,
      </if>
      <if test="activitynum != null" >
        activitynum,
      </if>
      <if test="card_num != null" >
        card_num,
      </if>
      <if test="card_create_status != null" >
        card_create_status,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="moneybalance != null" >
        moneybalance,
      </if>
      <if test="spend != null" >
        spend,
      </if>
      <if test="viptime != null" >
        viptime,
      </if>
      <if test="connectnum != null" >
        connectnum,
      </if>
      <if test="lastloginmonth != null" >
        lastloginmonth,
      </if>
      <if test="attachmentsize != null" >
        attachmentsize,
      </if>
      <if test="wechat_card_num != null" >
        wechat_card_num,
      </if>
      <if test="serviceUserNum != null" >
        serviceUserNum,
      </if>
      <if test="invitecode != null" >
        invitecode,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="adminuserid != null" >
        adminuserid,
      </if>
      <if test="isfuwuchuang != null" >
        isfuwuchuang,
      </if>
      <if test="isshouyintai != null" >
        isshouyintai,
      </if>
      <if test="user_logo_url != null" >
        user_logo_url,
      </if>
      <if test="user_company_name != null" >
        user_company_name,
      </if>
      <if test="user_flg != null" >
        user_flg,
      </if>
      <if test="identity_card != null" >
        identity_card,
      </if>
      <if test="register_number != null" >
        register_number,
      </if>
      <if test="business_license != null" >
        business_license,
      </if>
      <if test="link_man != null" >
        link_man,
      </if>
      <if test="verify_reason != null" >
        verify_reason,
      </if>
      <if test="serial_no != null" >
        serial_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="inviter != null" >
        #{inviter,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="mp != null" >
        #{mp,jdbcType=VARCHAR},
      </if>
      <if test="smscount != null" >
        #{smscount,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createip != null" >
        #{createip,jdbcType=VARCHAR},
      </if>
      <if test="lastip != null" >
        #{lastip,jdbcType=VARCHAR},
      </if>
      <if test="diynum != null" >
        #{diynum,jdbcType=INTEGER},
      </if>
      <if test="activitynum != null" >
        #{activitynum,jdbcType=INTEGER},
      </if>
      <if test="card_num != null" >
        #{card_num,jdbcType=INTEGER},
      </if>
      <if test="card_create_status != null" >
        #{card_create_status,jdbcType=BIT},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
      <if test="moneybalance != null" >
        #{moneybalance,jdbcType=INTEGER},
      </if>
      <if test="spend != null" >
        #{spend,jdbcType=INTEGER},
      </if>
      <if test="viptime != null" >
        #{viptime,jdbcType=VARCHAR},
      </if>
      <if test="connectnum != null" >
        #{connectnum,jdbcType=INTEGER},
      </if>
      <if test="lastloginmonth != null" >
        #{lastloginmonth,jdbcType=SMALLINT},
      </if>
      <if test="attachmentsize != null" >
        #{attachmentsize,jdbcType=INTEGER},
      </if>
      <if test="wechat_card_num != null" >
        #{wechat_card_num,jdbcType=INTEGER},
      </if>
      <if test="serviceUserNum != null" >
        #{serviceUserNum,jdbcType=TINYINT},
      </if>
      <if test="invitecode != null" >
        #{invitecode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="adminuserid != null" >
        #{adminuserid,jdbcType=INTEGER},
      </if>
      <if test="isfuwuchuang != null" >
        #{isfuwuchuang,jdbcType=BIT},
      </if>
      <if test="isshouyintai != null" >
        #{isshouyintai,jdbcType=BIT},
      </if>
      <if test="user_logo_url != null" >
        #{user_logo_url,jdbcType=VARCHAR},
      </if>
      <if test="user_company_name != null" >
        #{user_company_name,jdbcType=VARCHAR},
      </if>
      <if test="user_flg != null" >
        #{user_flg,jdbcType=BIT},
      </if>
      <if test="identity_card != null" >
        #{identity_card,jdbcType=VARCHAR},
      </if>
      <if test="register_number != null" >
        #{register_number,jdbcType=VARCHAR},
      </if>
      <if test="business_license != null" >
        #{business_license,jdbcType=VARCHAR},
      </if>
      <if test="link_man != null" >
        #{link_man,jdbcType=VARCHAR},
      </if>
      <if test="verify_reason != null" >
        #{verify_reason,jdbcType=VARCHAR},
      </if>
      <if test="serial_no != null" >
        #{serial_no,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunpos.model.Users" >
    update pigcms_users
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="inviter != null" >
        inviter = #{inviter,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="mp != null" >
        mp = #{mp,jdbcType=VARCHAR},
      </if>
      <if test="smscount != null" >
        smscount = #{smscount,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null" >
        lasttime = #{lasttime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createip != null" >
        createip = #{createip,jdbcType=VARCHAR},
      </if>
      <if test="lastip != null" >
        lastip = #{lastip,jdbcType=VARCHAR},
      </if>
      <if test="diynum != null" >
        diynum = #{diynum,jdbcType=INTEGER},
      </if>
      <if test="activitynum != null" >
        activitynum = #{activitynum,jdbcType=INTEGER},
      </if>
      <if test="card_num != null" >
        card_num = #{card_num,jdbcType=INTEGER},
      </if>
      <if test="card_create_status != null" >
        card_create_status = #{card_create_status,jdbcType=BIT},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="moneybalance != null" >
        moneybalance = #{moneybalance,jdbcType=INTEGER},
      </if>
      <if test="spend != null" >
        spend = #{spend,jdbcType=INTEGER},
      </if>
      <if test="viptime != null" >
        viptime = #{viptime,jdbcType=VARCHAR},
      </if>
      <if test="connectnum != null" >
        connectnum = #{connectnum,jdbcType=INTEGER},
      </if>
      <if test="lastloginmonth != null" >
        lastloginmonth = #{lastloginmonth,jdbcType=SMALLINT},
      </if>
      <if test="attachmentsize != null" >
        attachmentsize = #{attachmentsize,jdbcType=INTEGER},
      </if>
      <if test="wechat_card_num != null" >
        wechat_card_num = #{wechat_card_num,jdbcType=INTEGER},
      </if>
      <if test="serviceUserNum != null" >
        serviceUserNum = #{serviceUserNum,jdbcType=TINYINT},
      </if>
      <if test="invitecode != null" >
        invitecode = #{invitecode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="adminuserid != null" >
        adminuserid = #{adminuserid,jdbcType=INTEGER},
      </if>
      <if test="isfuwuchuang != null" >
        isfuwuchuang = #{isfuwuchuang,jdbcType=BIT},
      </if>
      <if test="isshouyintai != null" >
        isshouyintai = #{isshouyintai,jdbcType=BIT},
      </if>
      <if test="user_logo_url != null" >
        user_logo_url = #{user_logo_url,jdbcType=VARCHAR},
      </if>
      <if test="user_company_name != null" >
        user_company_name = #{user_company_name,jdbcType=VARCHAR},
      </if>
      <if test="user_flg != null" >
        user_flg = #{user_flg,jdbcType=BIT},
      </if>
      <if test="identity_card != null" >
        identity_card = #{identity_card,jdbcType=VARCHAR},
      </if>
      <if test="register_number != null" >
        register_number = #{register_number,jdbcType=VARCHAR},
      </if>
      <if test="business_license != null" >
        business_license = #{business_license,jdbcType=VARCHAR},
      </if>
      <if test="link_man != null" >
        link_man = #{link_man,jdbcType=VARCHAR},
      </if>
      <if test="verify_reason != null" >
        verify_reason = #{verify_reason,jdbcType=VARCHAR},
      </if>
      <if test="serial_no != null" >
        serial_no = #{serial_no,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunpos.model.Users" >
    update pigcms_users
    set openid = #{openid,jdbcType=VARCHAR},
      inviter = #{inviter,jdbcType=INTEGER},
      gid = #{gid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      mp = #{mp,jdbcType=VARCHAR},
      smscount = #{smscount,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      lasttime = #{lasttime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createip = #{createip,jdbcType=VARCHAR},
      lastip = #{lastip,jdbcType=VARCHAR},
      diynum = #{diynum,jdbcType=INTEGER},
      activitynum = #{activitynum,jdbcType=INTEGER},
      card_num = #{card_num,jdbcType=INTEGER},
      card_create_status = #{card_create_status,jdbcType=BIT},
      money = #{money,jdbcType=INTEGER},
      moneybalance = #{moneybalance,jdbcType=INTEGER},
      spend = #{spend,jdbcType=INTEGER},
      viptime = #{viptime,jdbcType=VARCHAR},
      connectnum = #{connectnum,jdbcType=INTEGER},
      lastloginmonth = #{lastloginmonth,jdbcType=SMALLINT},
      attachmentsize = #{attachmentsize,jdbcType=INTEGER},
      wechat_card_num = #{wechat_card_num,jdbcType=INTEGER},
      serviceUserNum = #{serviceUserNum,jdbcType=TINYINT},
      invitecode = #{invitecode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      adminuserid = #{adminuserid,jdbcType=INTEGER},
      isfuwuchuang = #{isfuwuchuang,jdbcType=BIT},
      isshouyintai = #{isshouyintai,jdbcType=BIT},
      user_logo_url = #{user_logo_url,jdbcType=VARCHAR},
      user_company_name = #{user_company_name,jdbcType=VARCHAR},
      user_flg = #{user_flg,jdbcType=BIT},
      identity_card = #{identity_card,jdbcType=VARCHAR},
      register_number = #{register_number,jdbcType=VARCHAR},
      business_license = #{business_license,jdbcType=VARCHAR},
      link_man = #{link_man,jdbcType=VARCHAR},
      verify_reason = #{verify_reason,jdbcType=VARCHAR},
      serial_no = #{serial_no,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>